
        <div id="footer">
            
            <!-- Upper footer -->
            <!--div id="upper-footer" class="row gray"> 
                <div class="container">
                    
                </div>
            </div-->
            <!-- /Upper footer -->

            <!--main footer-->
            <div id="footer">
                <div class="row ">
                    <div class="container">
                        <div class="col-xs-3 footer-col">
                            {{ widgets:area slug="footer-col1" }}
                        </div>

                        <div class="col-xs-3 footer-col widget navigation">
                            {{ widgets:area slug="footer-col2" }}
                        </div>  
                        
                        <div class="col-xs-3 widget widget_flickr">
                           {{ widgets:area slug="footer-col3" }}
                        </div>
                        
                        <div class="col-xs-3 widget widget_twitter footer-col">
                           {{ widgets:area slug="footer-col4" }}
                        </div>
                    </div>
                </div>
            </div>
            <!--main footer-->
            
            <!--bottom line-->
            <div id="bottom">
                <div class="row">
                    <div class="container">
                        <a id="to-top" href="#" title="Top of page"><div class="arrow-up dark fr"></div></a>
                        <div class="row bottom-container">
                            <div class="col-xs-5">
                                <p>
									&copy; Copyright 2012 by <a href="<?php echo base_url(); ?>">{{ settings:site_name }}</a> All rights reserved.
									<?php if(ENVIRONMENT == PYRO_DEVELOPMENT){ ?>
									<br />Version <?php echo CMS_VERSION.' '.CMS_EDITION; ?> &nbsp;
									<br />Rendered in {elapsed_time} sec. using {memory_usage}.
									<?php } ?>
								</p>
                            </div>
                            <div class="col-xs-5">
                                <div class="fr">
                                    <ul class="social-icons">
                                        <li class="facebook"><a href="#">Facebook</a></li>
                                        <li class="twitter"><a href="#">Twitter</a></li>
                                        <li class="blogger"><a href="#">Blogger</a></li>
                                        <li class="linkedin"><a href="#">LinkedIn</a></li>
                                        <li class="googleplus"><a href="#">googlePlus</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!--bottom line-->
        </div>

