	<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Youhan" />
<meta name="copyright" content="Youhan" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- /Mobile Specific Metas -->

<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

<!--styles-->
{{ theme:css file="base.css" }}
{{ theme:css file="styles/{{theme:options:color}}.css" }}
{{ if theme:options:style == 'boxed' }}
      {{ theme:css file="boxed.css" }}         
{{endif}}


<!--scripts-->

{{ theme:js file="selectnav.min.js" }}
{{ theme:js file="jquery-1.10.2.js" }}
{{ theme:js file="bootstrap.js" }}
{{ theme:js file="jquery-ui.min.js" }}
{{ theme:js file="jquery.easing.1.3.js" }}
{{ theme:js file="jquery.prettyPhoto.js" }}
{{ theme:js file="jquery.carouFredSel-6.1.0-packed.js" }}
{{ theme:js file="jquery.quicksand.js" }}
{{ theme:js file="jquery.touchSwipe.min.js" }}
{{ theme:js file="custom.js" }}


<!-- meta from modules and pages -->
{{ template:metadata }}