.main-header {
	padding: 20px 0;
}
.main-header .page-title {
  float: left;
  color: #E7505A;
}
.main-header .page-title span {
  display: block;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  margin-top: 5px;
}
.main-header .page-stats {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header .page-stats li {
  float: left;
  display: block;
  padding: 0 20px;
  border-right: 1px solid #ccc;
}
.main-header .page-stats li:last-child {
  border-right: 0;
  padding-right: 0;
}
.main-header .page-stats li .value {
  float: left;
  margin-right: 20px;
}
.main-header .page-stats li .sparkinline {
  position: relative;
  top: 3px;
}
.main-header .page-stats li .value span {
  font-size: 11px;
  font-weight: 600;
  color: #bbb;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
.main-header .page-stats li .value h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #777;
  margin: 9px 0 0;
}

/*---------------------------------------------------------*/

.shortcut-wrapper {
  text-align: center;
}
.grey-container {
  background: #eee;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
}
.shortcut-link {
  display: inline-block;
  color: #ccc;
  margin-right: 20px;
  text-shadow: 0 1px 0 #fff;
  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
}
.shortcut-link:hover {
  text-decoration: none;
  color: #626262;
  transition: color .2s ease;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
}
.shortcut-link .shortcut-icon {
  position: relative;
  font-size: 30px;
}
.shortcut-link .shortcut-icon .shortcut-alert {
  position: absolute;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  font-size: 11px;
  color: #fff;
  top: 0;
  right: 0;
  background: #fc8675;
  border: 1px solid #fc8675;
  text-shadow: none;
  font-weight: 700;
  line-height: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
}
.shortcut-link .text {
  display: inline-block;
  margin-left: 10px;
  margin-top: -5px;
  color: #626262;
  font-weight: 600;
}

/*---------------------------------------------------------*/

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.padding {
	padding: 15px !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-background {
	background: none !important;
}
.row.row-merge {
  margin: 0;
}
.row.row-merge [class*=col-] {
  padding: 0;
}
.border-right {
  border-right: 1px solid #eee;
}
.bold {
  font-weight: 600;
}
.bg-danger {
  background-color: #fc8675 !important;
  color: #fff !important;
}
.bg-info {
  background-color: #6bafbd !important;
  color: #fff !important;
}
.bg-warning {
  background-color: #f3ce85 !important;
  color: #fff !important;
}
.bg-success {
  background-color: #65cea7 !important;
  color: #fff !important;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
.loading-overlay {
  position: absolute;
  display: block;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: rgba(0,0,0,.4);
  text-align: center;
  z-index: 999;
}
.loading-overlay.active {
  display: block;
}
.loading-overlay .loading-icon {
  position: relative;
	top: 40%;
  color: #fff;
}
.table-bordered-inside th:not(:last-child),
.table-bordered-inside td:not(:last-child) {
	border-right: 1px solid #ddd;
}

/*---------------------------------------------------------*/

.statsbox-wrapper {
	
}
.statsbox-wrapper div[class^=col-] {
	
}
.statsbox-wrapper div[class^=col-]:nth-child(4n) {
	
}
.statsbox {
  position: relative;
  overflow: hidden;
  padding: 25px 30px;
  margin-bottom: 20px;
  color: #fff;
  perspective: 100px;
  transform-style: preserve-3d;
}
.statsbox > a {
	color: #fff;
}
.statsbox .datas-text {
  font-size: 13px;
  padding: 7px 0px 0px 0px;
  font-weight: normal;
  text-align: right;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.statsbox .pull-left i {
  font-size: 50px;
  margin-right: 10px;
  margin-top: 10px;
  transition: all .2s ease-in-out;
}
.statsbox a:hover .pull-left i {
  transform: scale(1.3) rotate(-15deg);
}
.statsbox .pull-left .sparkinline {
  position: relative;
  width: 80px !important;
  height: 56px !important;
  top: 5px;
}
.statsbox .pull-left .sparkinline canvas {
	width: 60px !important;
}
.statsbox .datas-text span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  transition: all .2s ease-in-out;
}
/*.statsbox a:hover .datas-text span {
  transform: scale(1.3);
}*/
.statsbox .stats-refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgba(0,0,0,.3);
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

/*---------------------------------------------------------*/

.widget {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 3px;
	overflow: hidden;
}
.widget .widget-head {
  background-color: #f5f5f5;
  color: #777;
  font-size: 18px;
  padding: 12px 15px 10px;
}
.widget .widget-head h4 {
  display: inline-block;
  float: left;
  margin: 0;
  line-height: 1.7em;
}
.widget .widget-tools a {
  margin-left: 10px;
}
.widget .widget-body {
	border: 0;
  background-color: #fff;
  padding: 15px 20px;
}
.widget .widget-body .table {
	border: 0 !important;
}
.widget .widget-foot {
	padding: 15px 20px;
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
}
.widget .widget-init {
	min-height: 250px;
	text-align: center;
	padding-top: 110px;
	color: #999;
}
.widget .widget-content {
	position: relative;
}
.widget .widget-not-loaded {
	padding: 110px 20px;
  text-align: center;
}
.widget-danger {
  border-color: #fc8675 !important;
}
.widget-danger > .widget-head {
  background-color: #fc8675 !important;
  color: #fff !important;
}
.widget-danger > .widget-head > .widget-tools > a {
  color: #fff !important;
}
.widget-info {
  border-color: #6bafbd !important;
}
.widget-info > .widget-head {
  background-color: #6bafbd !important;
  color: #fff !important;
}
.widget-info > .widget-head > .widget-tools > a {
  color: #fff !important;
}
.widget-warning {
  border-color: #f3ce85 !important;
}
.widget-warning > .widget-head {
  background-color: #f3ce85 !important;
  color: #fff !important;
}
.widget-warning > .widget-head > .widget-tools > a {
  color: #fff !important;
}
.widget-success {
  border-color: #65cea7 !important;
}
.widget-success > .widget-head {
  background-color: #65cea7 !important;
  color: #fff !important;
}
.widget-success > .widget-head > .widget-tools > a {
  color: #fff !important;
}

/*---------------------------------------------------------*/

.current-status {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.current-status li {
  padding: 10px 0px;
}
.current-status .bold {
  font-size: 13px;
  margin: 0 8px;
}

/*---------------------------------------------------------*/

.feed {
	list-style: none;
	padding: 0 10px;
	margin: 0;
	max-height: 300px;
	overflow-y: scroll;
}
.feed li {
  border-bottom: 2px solid #ebebeb;
  padding: 15px 0;
  font-size: 0.875em;
  position: relative;
}
.feed li .img {
  float: left;
  margin-right: 10px;
}
.feed li .img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.feed li .title {
  padding-right: 55px;
  margin-left: 60px;
}
.feed li .post-time {
  color: #878787;
  padding-top: 4px;
  margin-left: 60px;
}
.feed li .time-ago {
  position: absolute;
  top: 16px;
  right: 0;
  color: #878787;
  font-size: 0.875em;
}
.feed li .photos {
  margin-left: 60px;
  margin-top: 10px;
}
.feed li .photos .item {
  float: left;
  margin-right: 2px;
}
.feed li .photos .item img {
  width: 50px;
  height: 50px;
}

/*---------------------------------------------------------*/

.browser-icon {
  display: inline-block;
	width: 20px;
  height: 20px;
  margin: 0;
}
.browser-icon-chrome {
	background: url('../img/chrome.png') 0 0 / 20px 20px no-repeat;
}
.browser-icon-firefox {
	background: url('../img/firefox.png') 0 0 / 20px 20px no-repeat;
}
.browser-icon-safari {
	background: url('../img/safari.png') 0 0 / 20px 20px no-repeat;
}
.browser-icon-opera {
	background: url('../img/opera.png') 0 0 / 20px 20px no-repeat;
}
.browser-icon-ie {
	background: url('../img/ie.png') 0 0 / 20px 20px no-repeat;
}