{{ if { url:segments segment="1" } != '' AND  { url:segments segment="1" } != 'home' }}  
    {{ if template:has_breadcrumbs }}
		{{ if theme:options:show_breadcrumbs == 'yes' }}
            <ul class="page-breadcrumb breadcrumb"> 
            {{ template:breadcrumbs }}
                <li>
                {{ if uri }}
                        {{ url:anchor segments=uri title=name }}
                        <i class="fa fa-circle"></i>
                {{ else }}
                        <span class="active">{{ name }}</span>
                {{ endif }}
                </li>
            {{ /template:breadcrumbs }}
            </ul>
        {{ endif }}
    {{ endif }}
{{ endif }}