        <div class="page-prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 footer-block">
                        <h2>Tentang Toko Tani Indonesia</h2>
                        <p> Kegiatan Toko Tani Indonesia ini membawa misi untuk melindungi produsen dari jatuhnya harga dan disisi lain, melindungi konsumen dari tingginya harga pangan sehingga tercipta tata niaga pangan yang berkeadilan.</p>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                        <h2>Subscribe Email</h2>
                        <div class="subscribe-form">
                            <form action="javascript:;">
                                <div class="input-group">
                                    <input type="text" placeholder="mail@email.com" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit">Submit</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2>Follow Us On</h2>
                        <ul class="social-icons">
                            <li>
                                <a href="javascript:;" data-original-title="rss" class="rss"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="youtube" class="youtube"></a>
                            </li>
                            <li>
                                <a href="javascript:;" data-original-title="vimeo" class="vimeo"></a>
                            </li>
                        </ul>
                    </div> -->

                    <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                        <h2>Alamat</h2>
                        <address class="margin-bottom-10">
                           
                            Sekretariat PUPM Badan Ketahanan Pangan<br>
                            Kantor Pusat Kementerian Pertanian<br>
                            Gedung E Lantai 6<br>
                            Jl. Harsono RM No.3 Ragunan. Jakarta Selatan.
                            
                        </address>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                        <h2>Kontak Kami</h2>
                        <address class="margin-bottom-10"> Telp: (021) 7804496
                            <br> Email:
                            <a href="mailto:info@metronic.com">sekretariat.tti@gmail.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PRE-FOOTER -->
        <!-- BEGIN INNER FOOTER -->
        <div class="page-footer">
            <div class="container"> 2016 &copy; Sistem Informasi Toko Tani Indonesia.
                <!-- <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a> -->
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/respond.min.js"></script>
<script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->

        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{url:site}}addons/default/themes/sitoni/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <script src="{{url:site}}addons/default/themes/sitoni/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->