<style>
  .row-header{
    padding-top:10px;
  }
  .site_name{
    float: left;
    color:#E7505A;
    font-size:20px;
    padding-top:10px;
    padding-left: 21px;
  }
  .lg{
    width: auto !important;
  }

  .site_name_mobile{
    display: none;
  }
  .site_name_full{
    display: block;
  }
  @media (max-width: 660px) {
    .site_name_mobile{
      display: block;
      width:100px;
    }
    .site_name_full{
      display:none;
    }
  }
</style>
<div class="page-header">
  <!-- BEGIN HEADER TOP -->
  <div class="page-header-top">
    <div class="container">
      <!-- BEGIN LOGO -->
      <div class="page-logo lg">
        <a href="<?php echo base_url();?>">
          <div class="row row-header">
            <div class="col-sm-12">
              <div style="float:left;">
                <img alt="" src="{{url:site}}addons/default/themes/sitoni/img/logo.png" width="50">
              </div>
              <div class="site_name">
                <span class="site_name_full">{{ settings:site_name }}</span>
                <span class="site_name_mobile">SITANI</span>
              </div>
            </div>
            <!-- <div class="col-sm-10">
              <span class="site_name_full">{{ settings:site_name }}</span>
              <span class="site_name_mobile">SITANI</span>
            </div> -->
          </div>

          
        </a>
      </div>
      <!-- END LOGO -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a href="javascript:;" class="menu-toggler"></a>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu ">
        <ul class="nav navbar-nav pull-right">
          <!-- BEGIN USER LOGIN DROPDOWN -->
          {{ if user:logged_in }}
                
            <li class="dropdown dropdown-user dropdown-dark">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                  <img alt="" class="img-circle" src="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/img/avatar.png">
                  <span class="username username-hide-mobile"><?php echo $this->current_user->display_name; ?></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <a href="<?php echo site_url('admin'); ?>" target="_blank">
                    <i class="icon-login"></i> Admin Panel
                  </a>
                </li>
                <li>
                  <a href="<?php echo site_url('users/logout'); ?>">
                    <i class="icon-key"></i> Log Out 
                  </a>
                </li>
              </ul>
            </li>
          {{ else }}
            <li class="dropdown red-sunglo">
                <a href="<?php echo site_url('admin/login') ?>" class="dropdown-toggle">
                  <span class="btn btn-sm red">
                    <i class="icon-login"></i> Login
                  </span>
                </a>
            </li>
          {{ endif }}
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
  </div>
  <!-- END HEADER TOP -->
  <!-- BEGIN HEADER MENU -->
  <div class="page-header-menu" >
    <div class="container">
      <!-- BEGIN MEGA MENU -->
      <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
      <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
      <div class="hor-menu hor">
        <ul class="nav navbar-nav">
          {{ navigation:links group="header" more_class="menu-dropdown classic-menu-dropdown" dropdown_class="dropdown-menu"}}
        </ul>
      </div>
      <!-- END MEGA MENU -->
    </div>
  </div>
  <!-- END HEADER MENU -->
</div>