<!-- Begin meta tags -->
<title>{{ template:title }} - {{ settings:site_name }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/css/themes/red-sunglo.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="{{url:site}}addons/default/themes/sitoni/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />

	<!-- favicon -->
{{ theme:favicon file="favicon.ico" }}

<link href="{{url:site}}addons/default/themes/sitoni/assets/pages/css/blog.min.css" rel="stylesheet" type="text/css" />
<script src="{{url:site}}addons/default/themes/sitoni/assets/global/plugins/jquery.min.js" type="text/javascript"></script>