<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	{{ theme:partial name='metadata' }}
</head>

<body>
	{{ theme:partial name='header' }}
	
	<!-- page content -->
	<section class="page-content main-section">
		
		<!-- left side -->
		{{ template:body }}
		<!-- end leftside -->
		
	</section>
	<!-- end page content -->
	
	{{ theme:partial name='footer' }}
</body>
</html>
