.box .collapsed {
display: none; border: none;
}

/*
.box .collapsed #link-list {
	height: 20px;
}
*/

section.item.collapsed ~ section.title.files-title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

section.title li {
/* line-height: 35px; */
	/* float:left; */
	display: inline;
	/* width:50%; */
}

section.title {
	cursor: pointer;
}

section.title li .button {
	float: right;
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 2px 6px;
	font-size: 13px;
	line-height: initial;
}

section.title li:first-child {
	margin-right: 16px;
}

section.title .form-title {
	margin-left:20px;
}

.hidden {
	display:none;
}

/* Left pane */
#link-list {
	display: inline-block;
	padding:0px 5px 0px 0px;
/* float:left; */
	/* height:32em; */
	/* border-right:2px dotted #ddd; */
	overflow:auto;
	width:100%;
	margin-bottom: 20px;
}

#link-list.empty {
	border-right: none;
}

#link-list ul {
	background:none;
	margin-left:1em!important;
}

#link-list > ul {
	margin-left:0!important;
}

#link-list a {
	text-decoration:none;
	font-size:13px;
	color:#5c5b5b;
	padding:1px 1px 1px 15px;
	background:url(../img/off.png) no-repeat left;
}

#link-list a:hover {
	text-decoration:underline;
}

#link-list a.selected {
	color:#000;
	background:url(../img/on.png) no-repeat left;
}

/* Sortable CSS */
.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.sortable li {
	margin:5px 0;
	list-style: none;
}

.sortable li div {
	padding:5px 1px 5px 10px;
	margin:0;
	cursor:move;
	background:url(../../../themes/pyrocms/img/icons/drag_handle_dark.gif) #eee no-repeat 99% 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li div:hover {
	background-color:#dbdbdb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li.placeholder {
	background-color:#c2c0c0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-left:20px;
}

.plus {
	background:url(../img/more.png) no-repeat 0 4px;
}

.minus {
	background:url(../img/less.png) no-repeat 0 4px;
}

/* Right pane */
#link-details #nav-edit li {
	padding:10px 0px;
}

#link-details {
	display:inline-block;
	/* border-left:2px dotted #ddd; */
	width:100%;
	color:#666;
	margin-bottom: 20px;
}

#link-details fieldset {
	/* border:1px solid #ddd; */
	border: none;
	border-right:none;
	border-left:none;
	/* background-color:#fff; */
	padding: 0px;
	margin: 0;
}

#link-details fieldset p {
	margin:0px 0px 5px 0px;
}

#link-details fieldset p:last-child {
	margin:0px 0px 20px 0px;
}

#link-details fieldset p strong {
	width:20%;
	display:inline-block;
	text-align:right;
	padding-right:10px;
}

#link-details fieldset legend {
	margin-left:0px;
	font-size: 14px;
	font-weight:700;
}

#details-container {
	width:100%;
	display: inline-block;
	/*
background-color: #f6f6f6;
	-webkit-border-radius: 0 4px 0 4px;
	-moz-border-radius: 0 4px 0 4px;
	-ms-border-radius: 0 4px 0 4px;
	-o-border-radius: 0 4px 0 4px;
	border-radius: 0 4px 0 4px;
*/
}

#details-container .buttons {
	display: inline-block;
	float: none;
}
