span.custom , span.custom a {
  color: #05acd6;
}

a:hover {
  color: #05acd6;
}

section.top-section {
  background: #05acd6;
}

section.top-section a.toggle {
  background: #05acd6 url(../../img/arrow_up.png) 8px 8px no-repeat;
}

section.top-section a.toggleDown {
  background: #05acd6 url(../../img/arrow_down.png) 8px 8px no-repeat;
}

section.navigation-section ul li a:hover {
  background-color: #05acd6;
}

.section .header span {
  background: #05acd6;
}

.posts .single-post .image .post-format {
  background-color: #05acd6;
}

.widget .tabs .links a.active {
  border-top-color:  #05acd6;
}

.widget .header span {
  background: #05acd6;
}

.widget-content .carousel .carousel-control.hover  {
  background-color: #05acd6 ;
}

td#today {
  color: #05acd6;
}

.calendar-caption .next{
  background: #05acd6 url(../img/video-right.png) 14px 22px no-repeat;
}
 
footer.footer {
  border-top: 3px solid #05acd6; 
}

footer .container .subscribe-form {
  background: #05acd6;
}

.flickr-widget .photo:hover {
  border: 2px solid #05acd6;
}

.slider ol.flex-control-nav li a.flex-active {
  background: #05acd6;
}

.slider .desc h3 {
  background: #05acd6;
}

.sliderthumbs ul.slides li.flex-active-slide:after {
  border-bottom: 10px solid #05acd6; 
}

.sliderthumbs .flex-direction-nav a:hover  {
  background-color: #05acd6 ;
}

.box200 .grids .meta .date span.tag {
  color: #05acd6;
}

.classic-blog .meta .date span.tag {
  color: #05acd6;
}

.classic-blog .meta .content a.readmore {
  color: #05acd6;
}

.pagination .active {
    background: none repeat scroll 0 0 #05ACD6;
}

.left-side .pagination ul li a.active {
  background: #05acd6;
}

.left-side .pagination ul li a:hover {
  background: #05acd6;
}

.pagination .pagination-direction .next {
  background-color:  #05acd6 ;
}

.pagination .pagination-direction a:hover  {
  background-color: #05acd6 ;
}

.page-single .post-meta a.tag {
  color: #05acd6;
}

.comments .comment .meta .date .custom {
  color: #05acd6;
}

.comments-form input.submit {
  background: #05acd6;
}

.tinyscroll .thumb { 
  background: #05acd6;
}

.tinyscroll .thumb .arrow {
  border-bottom: 8px solid #05acd6;
}

.social-icon:hover {
  background-color: #05acd6;
}