span.custom , span.custom a {
  color: #94D53F;
}

a:hover {
  color: #94D53F;
}

section.top-section {
  background: #94D53F;
}

section.top-section a.toggle {
  background: #94D53F url(../../img/arrow_up.png) 8px 8px no-repeat;
}

section.top-section a.toggleDown {
  background: #94D53F url(../../img/arrow_down.png) 8px 8px no-repeat;
}

section.navigation-section ul li a:hover {
  background-color: #94D53F;
}

section.navigation-section .container {
  background-image: linear-gradient(bottom, #313131 0%, #4E4E4E 100%);
  background-image: -o-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);
  background-image: -moz-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);
  background-image: -webkit-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);
  background-image: -ms-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);
  background-image: -webkit-gradient(
    color-stop(0, #313131),
    color-stop(1, #4E4E4E)
  );
  border-left-color: #94D53F;
  border-right-color: #94D53F;
}

.section .header span {
  background: #94D53F;
}

.posts .single-post .image .post-format {
  background-color: #94D53F;
}

.widget .tabs .links a.active {
  border-top-color:  #94D53F;
}

.widget .header span {
  background: #94D53F;
}

.widget-content .carousel .carousel-control.hover  {
  background-color: #94D53F ;
}

td#today {
  color: #94D53F;
}

.calendar-caption .next{
  background: #94D53F url(../img/video-right.png) 14px 22px no-repeat;
}
 
footer.footer {
  border-top: 3px solid #94D53F; 
}

footer .container .subscribe-form {
  background: #94D53F;
}

.flickr-widget .photo:hover {
  border: 2px solid #94D53F;
}

.slider ol.flex-control-nav li a.flex-active {
  background: #94D53F;
}

.slider .desc h3 {
  background: #94D53F;
}

.sliderthumbs ul.slides li.flex-active-slide:after {
  border-bottom: 10px solid #94D53F; 
}

.sliderthumbs .flex-direction-nav a:hover  {
  background-color: #94D53F ;
}

.box200 .grids .meta .date span.tag {
  color: #94D53F;
}

.classic-blog .meta .date span.tag {
  color: #94D53F;
}

.classic-blog .meta .content a.readmore {
  color: #94D53F;
}

.pagination .active {
    background: none repeat scroll 0 0 #94D53F;
}

.left-side .pagination ul li a.active {
  background: #94D53F;
}

.left-side .pagination ul li a:hover {
  background: #94D53F;
}

.pagination .pagination-direction .next {
  background-color:  #94D53F ;
}

.pagination .pagination-direction a:hover  {
  background-color: #94D53F ;
}

.page-single .post-meta a.tag {
  color: #94D53F;
}

.comments .comment .meta .date .custom {
  color: #94D53F;
}

.comments-form input.submit {
  background: #94D53F;
}

.tinyscroll .thumb { 
  background: #94D53F;
}

.tinyscroll .thumb .arrow {
  border-bottom: 8px solid #94D53F;
}

.social-icon:hover {
  background-color: #94D53F;
}