<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <!-- BEGIN HEAD -->

  <head>
      {{ theme:partial name='metadata' }}
  <!-- END HEAD -->

  <body class="page-container-bg-solid page-header-menu-fixed">
    <!-- BEGIN HEADER -->
    {{ theme:partial name='header' }}
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
          <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
              <h1>Serba Serbi</h1>
            </div>
            <!-- END PAGE TITLE -->
          </div>
        </div>
        <div class="page-content">
          <div class="container">
            <!-- BEGIN PAGE BREADCRUMBS -->
            {{ theme:partial name='breadcrumbs' }}
            <!-- END PAGE BREADCRUMBS -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
              <div class="blog-page">
                <div class="row">
                    <div class="col-lg-9">
                        {{ session:messages success="custom-alerts alert alert-success" notice="alert" error="custom-alerts alert alert-danger" }}
                        {{ template:body }}
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-content-2">
                            <div class="blog-single-sidebar bordered blog-container" style="padding-top:0px;">
                                {{ widgets:area slug="blog-sidebar" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!-- BEGIN PRE-FOOTER -->
    {{ theme:partial name='footer' }}
  </body>

</html>