<!-- footer -->
<footer class="footer main-section">
  <!-- widgets -->
  <div class="widgets">
	<!-- widget-container -->
	<div class="container">
	  <div class="sixteen columns">
		
		<div class="widgets col300">
			{{ widgets:area slug="footer-col-1" }}
		</div>
		
		<div class="widget col300">
			{{ widgets:area slug="footer-col-2" }}
		</div>
		
		<div class="widget col300">
			{{ widgets:area slug="footer-col-3" }}
		</div>
		
	  </div>
	  <!-- end sixteen -->
	</div>
	<!-- end widgets container -->
  </div>
  <!-- end widgets -->
  <!-- copyrights -->
  <div class="copyrights container">
	<div class="left columns eight">
	  <p>Copyrights <?php echo date('Y') ?> - {{settings:site_name}}</p>
	</div>
	<!-- end left -->
	<!-- right -->
	<div class="right eight columns">
	  
	</div>
	<!-- end right -->
  </div>
  <!-- end copyrights -->
</footer>
<!-- end footer -->