<!-- top top section -->
<section class="top-section main-section">
  <!-- container -->
  <div class="container">
    <div class="sixteen columns">
      <!-- top menu -->
      <nav class="top-menu">
        <ul>
          {{ navigation:links group="top" }}
        </ul>
      </nav>
      <!-- end top menu -->
    </div>
    <!-- end sixteen -->
    <!-- toggle -->
    <a href="javascript:void(0);" class="toggle"></a> </div>
  <!-- end container -->
</section>
<!-- end top section -->

<!-- logo nad ads -->
<section class="logo main-section">
  <!-- container -->
  <div class="container">
    <div class="sixteen columns">
      <!-- logo wrapper -->
      <div class="logo-wrapper"><a href="{{url:site}}">{{theme:image file="logo.png"}}</a>
        <!-- tagline -->
        <span>{{ settings:site_slogan }}</span> </div>
      <!-- end logo wrapper -->
    </div>
    <!-- end sixteen -->
  </div>
  <!-- end container -->
</section>
<!-- end logo -->

<!-- navigation -->
<section class="navigation-section main-section">
  <!-- container -->
  <div class="container">
    <div class="sixteen columns">
      <!-- nav -->
      <nav class="navigation">
        <ul>
          {{ navigation:links group="header" }}
        </ul>
      </nav>
      <!-- end nav -->
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end navigation -->