<meta charset="utf-8">
<title>{{ template:title }} - {{ settings:site_name }}</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,700italic' rel='stylesheet' type='text/css'>

<!-- Js -->
{{ theme:js file="jquery-1.7.2.js" }}
{{ theme:js file="jquery.cookie.js" }}
{{ theme:js file="plugins.js" }}
{{ theme:js file="flex-slider-min.js" }}
{{ theme:js file="custom.js" }}

<!--[if lt IE 9]>{{ theme:js file="html5.js" }}<![endif]-->

<!-- CSS -->
{{ theme:css file="skeleton.css" }}
{{ theme:css file="style.css" }}
{{ theme:css file="color/{{theme:options:color}}.css" }}
{{ theme:css file="layout.css" }}

<!--[if IE]>{{ theme:css file="ie.css" }}<![endif]-->