/* 
* style.scc ( default version)
* author: CodedMe Group
* package: Sorena Responsive Multipurpose Template
*/


/* --------------General ------------------ */
body{
    background-color: #ffffff;
    font-family: OpenSansRegular,serif,tahoma;
    font-size: 12px;
}

.relative{position: relative;}
.fr{float:right;}
.fl{float:left;}


li{list-style: none;}

h1,h2,h3,h4,h5,h6{line-height: 1;}
h1, h2,h3,h4,h5{
    font-family: LatoLight, serif, tahoma;
}
/*------------------ special headings ----------*/
.h-bg-1{
    background: url(../img/h-bg-white.png) top left;
}
.h-bg-2,.h-bg-3{
    background: url(../img/h-bg-gray.png) top left;
}

.h-bg-1 span {
    background: #fff;
    padding-right: 12px;
}
.h-bg-2 span {
    background: #F9F9F9;
    padding-right: 12px;
}
.h-bg-3 span {
    background: #F0F0F0;
    padding-right: 12px;
}
.h-bg-1.center, .h-bg-2.center,.h-bg-3.center{text-align: center;}
.h-bg-1.center span,.h-bg-2.center span, .h-bg-3.center span {padding: 0 20px;}


h1.underline,h2.underline,h3.underline,h4.underline,h5.underline,h6.underline{
    border-bottom: 1px solid #dedede;  
}
h1.underline span,h2.underline span,h3.underline span,h4.underline span,h5.underline span,h6.underline span{
    padding-bottom:7px;
	display:inline-block;
}
h5 .underbar{
    padding-bottom:5px;
}
.page-header{
	margin-top: 0px;
}
.page-header h1{
	border-bottom: 1px solid #DEDEDE;
}

.page-header{
	border: none;
}
/*------------------ special grids ----------*/
.grid1-2,.grid1-3,.grid2-3,.grid1-4,.grid3-4{
    float:left;
    clear:both;
    margin-left: 2%;  
}
.grid1-2{
    width:48%;
}
.grid1-3{
    width:31.3%;
}
.grid2-3{
    width:64.6%;
}
.grid1-4{
    width:23%;
}
.grid3-4{
    width:73%;
}

[class*="grid"]:first-child {
    margin-left:0;
    clear:left;
}
[class*="grid"]:last-child {
    clear:right;
}
/*------------------ special margin classes ----------*/
.margin{
    margin:25px;
}
.margin50{
    margin:50px;
}
.margin75{
    margin:75px;
}
.margin100{
    margin:100px;
}
.vmargin{
    margin-bottom:25px;
}
.vmargin50{
    margin-bottom:50px;
}
.vmargin75{
    margin-bottom:75px;
}
.vmargin100{
    margin-bottom:100px;
}

a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a,a:visited{
    color: #428BCA;
}


#wrap{
    margin-top:140px;
    margin-bottom:25px;
}
#wrap.noupmargin{
    margin-top:0px;
}

/* -------------- header --------------------*/

#header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2F2F2F;
}
#header:hover{
    
}
#header.home{
 background: url(../img/header-bg-black60.png) repeat;
}
#header.min{
    background-color: #2F2F2F;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .1);
}
#header.min .top-bar {
    display: none;
}
#header h5{
    margin:0px;
}
#header input.search-text-box{
    padding-right: 23px;
}

.top-bar{
    min-height:5px;
}


/*------ logo --------------------*/
.inner-logo{
    position:relative;
    height:110px;
    display: table-cell;
    vertical-align: middle;
    transition:height 300ms ease-in-out;
    -moz-transition:height 300ms ease-in-out;
    -webkit-transition:height 300ms ease-in-out;
    -o-transition:height 300ms ease-in-out;
}
.inner-logo img{
    vertical-align: bottom !important;
}
.inner-logo.min{
    display: none;
}
.inner-site-name{
	display: none;
}
.inner-site-name a{
	color: #FFFFFF;
}
.inner-site-name.min{
	display: table-cell;
}


/*--menu ---------------------*/
/* -- top menu -- */
#menu-container{
    /*margin-left:-4px;*/
    height:110px;
}
#menu-container.min{height:60px;}
.top-menu{
    width:100%;
    height: 100%;
}
.top-menu ul{
    margin:0;
    padding:0;
}
#nav {
    font-size: 14px;
    float:right;
    height: 100%;
    position: relative;
}
#nav li{
    position: relative;
    float: left;
    padding: 55px 15px 26px 15px;
}
#nav li{
    -webkit-transition: padding 0.3s ease-in-out;
    -moz-transition: padding 0.3s ease-in-out;
    -o-transition: padding 0.3s ease-in-out;
    -ms-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}
#menu-container{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#menu-container.min #nav > li{padding: 25px 15px 15px;}
#menu-container.border-bott.min{border: none;}
#nav li.last{

}
#nav li:hover{background: #000000;}
#nav li > a {

    text-decoration: none;
    font-family:LatoItalic;
    font-size:18px;
}
#nav> li > a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}
#nav li a:link,
#nav li a:visited{
    color: #525252;
}
/* top level links only */
#nav > li > a:link, #nav > li > a:visited{ color: #ccc; }
#nav li.current ul a {}
#nav > li > a:hover, #nav > li.sfHover > a{
    
}
#nav.nav-full li.current{
    background:rgba(60,60,60,0.9);
}
#nav.nav-min li.current{
    padding-top: 25px;
}
ul.nav-min {padding-top: 20px;}

/* sub-menus */
#nav li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
}
#nav li ul li{
    background:url('../img/header-bg-black80.png') repeat;
    padding: 5px 10px;
}
#nav li ul li a{
    text-transform: none !important;
    font-size: 13px;
    line-height: 15px;
    color: #8f8f8f !important;
    padding: 7px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
#nav li ul li:hover{   
    background:rgba(60,60,60,0.9);   
}
#nav li ul li:last-child{}
#nav li ul li:last-child:hover{}
#nav li ul li:hover > a{
    color: #fff !important;
}
#nav li ul li, #nav li ul li a{
    float: none;
}
#nav li ul li a {
    width: 130px;
    display: block;
}

/* MAIN NAVIGATION THIRD LEVEL */
#nav li ul li ul {
    display: none;
    margin:0;
    border:none;
}
#nav li ul li:hover ul {
    left: 100%;
    top: -1px;
    padding-top: 0 !important;  
}

/* -------------- Slider --------------------*/
#slider{
    background:url(../img/slider-bg.png) repeat;
    z-index: 900;
}

/* -------------- rep-bar --------------------*/
/* this is the representaion bar just below the slider at home page */
.rep-bar{
    background:url(../img/box-pattern.png) repeat;
}
/*--content-bar-----------------*/
.content-bar{
    text-align: center;
    padding: 40px;
}
.content-bar h3,.content-bar h4{
    font-family:LatoHairline;
}
.content-bar h3{font-size:45px;}
.content-bar h4{font-size: 20px;}


/*--representation-----------------*/
.representation{background:#2F2F2F;padding:20px; min-height: 185px;text-align:center; }
.representation h4{color: #eaeaea;}
.representation p{color: #dedede;}
.representation a{color: #88CA3E;}

/*Multibox------------------*/
.multibox{
     background:url(../img/box-pattern.png) repeat;
     height: 200px;
}
.multibox .titles{
    background:#2F2F2F;
    padding:20px;
    position:relative;
    height:160px;
}
.multibox .titles .pointer{
    position: absolute;
    width:9px;
    height: 15px;
    background:url('../img/black-arrow.png') no-repeat;
    top:35px;
    right:-9px;
}
.multibox .titles .back-bar{
    position: absolute;
    left:20px;
    top:20px;
    width:3px;
    height:41px;   
}
.multibox .titles ul{
    margin:0;
    border-left:3px solid #414141;
    padding-left: 10px;
}
.multibox .titles li{
    padding:10px 0;
    border-bottom: 1px solid #414141;
    font-size: 12px;
    color:#ccc;
    cursor: pointer;
}
.multibox .titles li.active{
    color:#fff;
}
.multibox .titles li:last-child{
    border:none;
}
#multibox-inner{padding:0 20px;}

.multibox .items{
    overflow: hidden;
    height:200px;
}
.multibox .items div .item{
    height:200px;
    position:relative;
    overflow: hidden;
}
.multibox-static{
    padding:20px;
}
.multibox-static h3{
    color:#222;
    font-weight: bold;   
}
.multibox-static p{
    font-size: 15px;
    color:#222;
    font-family: LatoItalic;
    line-height:1.2;
}
.multibox-slider .col{
    width:200px;
    float:left;
    text-align: center;
    margin:0 5px;
}
.staff-box .position{
    background: url(../img/triangle-down.png) no-repeat center bottom;
    padding-bottom:17px;
}
.staff-box .position span{
    color: #bbb;
    padding-bottom:5px;   
}
.staff-box .photo{
    position: relative;
}
.staff-box .des{
    position: absolute;
    bottom:0;
    width:100%;
    height:50px;
    color:#fff;
    line-height:1.5;
    background: url('../img/image_hover.png') repeat;
    overflow: hidden;
}
.staff-box .des h4{
    margin-bottom: 5px !important;
    text-align: center;
}
.staff-box ul.social-icons {
    margin-left:-50px;
    position: absolute;
    left:50%;
}
.staff-box .social-icons li{
    margin:2px;
}
.staff-box p,staff-box{
    text-align: center;
}
#brands .col{ 
    width:200px;
    height:200px;
}
.center-image.col{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.center-image .col * {
    vertical-align: middle;
}
.center-image .col span {
    display: inline-block;
    height: 100%;
    width: 1px;   
}
.caroufredsel_wrapper{
    cursor: url("../img/cursor-hand.ico"), move !important;
}


/* -------------- icon-box --------------------*/
/* These are some icons with a little description at home page */
.iconbox .arrow_box, .iconbox{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    background: none;
}
.arrow_box {
	position: relative;
}
.iconbox:hover .arrow_box:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.iconbox:hover .arrow_box:after {
	border-color: rgba(255, 179, 0, 0);
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}
.iconbox i{
    display: block;
    width: 80px;
    margin:0 auto;
    height: 100px;
}
.iconbox .arrow_box{
    padding:20px;
    text-align: center;
}
.iconbox h4 {
    text-align:center;
    padding-bottom: 20px;
    margin:0
}
.iconbox h4 span{
    padding-bottom:7px;
}


/*-----------------Portfolio----------------------*/
.portfolio-thumb img{
	max-width: 100%;
}
.portfolio-thumb{
    overflow:hidden;
    position: relative;
    margin-bottom: 25px
}
.portfolio-des{
    position: absolute;
    bottom: -23%;
    left:0;
    width:100%;
    height: 25%;  
}
.portfolio-des .title{
    font-family: LatoLight;
    font-size: 16px;
    padding:5% 20px;
    color:#fff;
}
.portfolio-mask{
    background-image: url(../img/dark-mask.png);
	background-repeat: repeat;
    background-color: rgba(0%, 0%, 0%, 0.6);
    position: absolute;
    bottom: -100%;
    left:0;
    width:100%;
    height: 100%;
}
.portfolio-zoom,.portfolio-link{
    position:absolute;
    width:48px;
    height:48px;
    top:30%;
    display:none;
    text-align: center;
    line-height:3.4;
}
.portfolio-zoom a,.portfolio-link a{
    width:48px;
    height:48px;
}
.portfolio-link{
    left:30%;
}
.portfolio-zoom{
    right:30%;
}
.image-lightbox{
    position: absolute;
    top:50%;
    margin-top:-15px;
    left:50%;
    margin-left:-15px;
    opacity:0;
    filter: alpha(opacity=0);
    z-index: 11;
}
.image-box{
    position: relative;   
}
.image-box:hover .image-lightbox{
    opacity:1;
    filter: alpha(opacity=100);
}
.image-box:hover .overlay{
    opacity:0.5;
    filter: alpha(opacity=50);
}
.overlay{
    width:100%;
    height:100%;
    opacity:0;
    filter: alpha(opacity=0);
    position:absolute;
    top:0;
    left:0;
     -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition:  all 0.1s ease-out;
    transition: all 0.1s ease-out;
    z-index:10;
}
.overlay:hover{
    opacity:0.5;
}
.zoom{background: url(../img/icons/media-zoom.png);}
.link_post{background: url(../img/icons/media-link.png);}
.link_post,.zoom
{
    width:48px;
    height:45px;
    float:left;
    margin:2%;
}
#home-portfolio{
    margin-left: 0;
}
#filtercats{
   margin:0 auto;
   list-style:none;
   padding-bottom:24px;
   margin-top:10px;
   text-align:center;
   background:url(../img/shadow.png) no-repeat center bottom;
}
#filtercats li{
   display:inline-block;
   list-style:none;
   padding:8px 12px;
   margin-right:5px;
   background-color: #333;
   font-size: 14px;
}
#filtercats li:hover{background-color: #999;}

#filtercats li a{
    color:#fff;
}
#filtercats li.active{
}


/*--blog----------------------*/
.blog-thumb{margin-bottom: 10px;}
.blog-intro h3{font-family:OpenSansLight; font-size: 35px }
.blog-introduction{
    font-size: 13px;
}
.blog-category{text-align: right;}
.blog-category,.blog-tags{font-size: 11px;}

#blog_author{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
#blog_newsleter{
    padding: 20px;
}
#blog_newsleter #n_email{margin-top: 10px;}
.blog-slider .camera_prev ,.blog-slider .camera_next{
    opacity:1 !important;
    filter: alpha(opacity=100);
}
.blog-slider{
    margin-bottom: 10px;
}
#blog-related .blog-box{
    width:250px;
    float:left;
    margin-right:2%;
    
}
#related_posts{
    position:relative;
}
.carousel-container .arrow_container{
    top:-4px;
    right:-1px;
}
#blog_author ul{
    margin:0;
}
.carousel-container{
   position: relative;
}
#related-projects .portfolio-thumb{
    width:280px;
    float:left;
    margin-right: 1%;
    
}
/* comments -----------------*/
.comment-list li{    
    padding-bottom: 25px;
    border-bottom: 1px dashed #ccc;
}
.commentHolder{padding:20px 0;}
.comment-list .name p{margin-bottom: 0; font-size: 120%; font-weight: bold;}
.comment-list .comment-meta p {font-style: italic; color: #999999; }
a.reply{font-style: italic;}
#respond .side p{color:#999999; font-size: 90%;}
#respond .side h3{margin-top: 0px;}
/* ------------- Recent Blogs ------------------ */
.blog-box{
    position: relative;
    overflow: hidden;
}
.blog-box .date{
    color: #fff;
    font-family: LatoLight;
    font-size: 22px;
    height:40px;
    width:50px;
    top:0;
    left: 0;
    line-height: 14px; 
    text-align: center;
    position: absolute;
    padding-top: 14px;
    z-index:11;   
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.blog-meta-2 .date{
    color: #fff;
    font-family: LatoLight;
    font-size: 22px;
    height:50px;
    width:50px;
    line-height: 14px; 
    text-align: center;
    padding-top: 14px;
    float:left;
   
}
.blog-meta-2 .type{
    width:50px;
    height:54px;
    float:left;
    margin-right: 5px;
}
.blog-meta-2 .type{
}
.blog-meta-2 .type.post-image{
    background:url(../img/post-image.png) no-repeat center center;
}
.blog-meta-2 .type.post-video{
    background:url(../img/post-video.png) no-repeat center center;
}
.blog-meta-2 .type.post-text{
    background:url(../img/post-text.png) no-repeat center center;
}
.blog-meta-2 .type.post-slider{
    background:url(../img/post-slider.png) no-repeat center center;
}
.blog-meta-2 .details{
    float: left;
    padding-left:20px;
}
.blog-meta-2 .details h3{
    margin:0 0 10px 0;
}
.blog-meta-2 .details ul{
    margin:0;
	padding:0;
}
.blog-meta-2 .details ul li{
    float:left;
    margin-right:3px;
}
.blog-box .date span,.blog-meta-2 .date span{
    font-size: 12px;
    text-transform: uppercase;
}
.blog-box .image{
    overflow: hidden;
	margin-bottom:22px;
}
.blog-hover{position: relative;}
.blog-hover .details{
    opacity:0;
    filter: alpha(opacity=0);
    position: absolute;
    top:40%;
    margin-left:55px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    color:#ccc;
    z-index: 11;
    width:80%;
}
.blog-hover .details span{
    padding-bottom: 5px;
    padding-right:5%;
}
.blog-hover .details a{
    color:#ccc;
}
.blog-hover .overlay{
    background: #000;
   -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.blog-hover.active .overlay{
    opacity:0.5;
    filter: alpha(opacity=50);
}
.blog-hover.active .details{
    opacity:1;
    filter: alpha(opacity=100);
}
.blog-hover.active .date{
    top:40%;
}
.zoomable{
    -webkit-transition: -webkit-transform 1s ease-out 0s;
    -o-transition: -o-transform 1s ease-out 0s;
    -moz-transition: -moz-transform 1s ease-out 0s;
    transition: transform 1s ease-out 0s;
}
.blog-hover.active .zoomable{
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2) ;
    -ms-transform: scale(1.2) ;
    -webkit-transform: scale(1.2);
    transform: scale(1.2) ;
}
.video{
    height: 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}
.video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.blog-introduction img {
    max-width: 100%;
	max-height: 200px;
	margin-top: 5px;
	margin-right: 15px;
	float: left;
}


/* -------------- Upper Footer --------------------*/
#upper-footer,#footer{
    padding:25px 0;
}
.gray{
    background: #F9F9F9;;
    border-top:1px solid #eee;
}

/* -------------- Footer --------------------*/
#footer{
    background-color: #F0F0F0;
    border-top: 1px solid #E9E9E9;
}

#footer ul{
    margin:0;
    padding:0;
}
.footer-col{}

/*------------------Bottom--------------------*/
#bottom{
    background-color:#2F2F2F;
    color: #d5d5d5;
}
.bottom-container{
    margin:20px 0px;
}
#bottom  a{
    color:white;
    text-decoration: none;
}
#bottom .social-icons{
    margin:0;
}

/* -------------- Shared classes --------------------*/
/* Thease classes might be used in any section of the page */

/* -- dividers ---------------------------*/
.divider{
    background: url(../img/h-bg-white.png) top left;
}
.narrow{height: 5px; margin-top: 5px; margin-bottom: 5px;}
.medium{height: 10px; margin-top: 20px; margin-bottom: 20px;}
.thick {height: 15px;margin-top: 30px; margin-bottom: 30px;}

img.opaque{
    opacity:0.7;
    filter: alpha(opacity=70);
}
.texture-1{
    background: url('../img/box-pattern.png') repeat;
}
.center{text-align: center;}

a.span12{
    margin-left:0 !important;
}

/*--image pretifyers----------------------*/
.picture-box{
    margin-bottom:15px;
}
.picture-box img{
    border: 2px solid #999999;
    -moz-box-shadow: 0px 0px 1px #759fff;
    -webkit-box-shadow: 0px 0px 1px #759fff;
    box-shadow: 0px 0px 1px #759fff;
}



/*--Pages----------------------*/
#page-title{

}
#page-title h2{
    font-family: "OpenSansLight";
    font-size: 26px;
}






/*-- widgets ----------------*/
.widget{margin-bottom: 25px;}
.blog_categories ul,.widget.tags ul{margin:0;display: table;}
.blog_categories li,.widget.tags li{
    list-style: none;
    padding: 5px 11px;
    float: left;
    margin: 0 4px 4px 0;
    font-size: 14px;
    background-color: #dedede;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog_categories li a, .widget.tags li a{color:#999;}
.blog_categories li a:hover, .widget.tags li a:hover{
    color:#fff;
}

.widget.archive ul, .latest_posts ul{margin:0;}
.widget.archive li, .latest_posts li{
    border-bottom: 1px dotted #dedede;
    padding: 5px 0;
}

.widget_container{
	margin-left:-10px;
}
.widget_flickr {display: table-row !important;} 
.widget_flickr .flickr_badge_image {
    float: left;
    width: 65px;
    margin:0px 0px 10px 10px;   
}

.widget_twitter li {
    background: url(../img/icons/twitter-icon.png) no-repeat left 15px;
    padding: 5px 0px 10px 40px;
}

.widget ul{padding-left: 0px;}

.widget.navigation ul{margin:0;}
.widget.navigation ul li{
    border-bottom: 1px solid  #cecece;
    padding:8px 15px;
    background:url(../img/arrow-right.png) no-repeat left center;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.widget.navigation ul li:last-child{
    border:none;
}
.widget h4{
	font-weight: bold;
}
/*Newsletter----------------------------*/
.widget.newsletter{
    position: relative;
}
.widget.newsletter input[type="email"]{
    height:50px !important;
    background:#2F2F2F !important;
    z-index: 1;
    border-radius:0;
    padding-right:0;
}
.widget.newsletter input[type="email"]:focus{
     box-shadow:none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.widget.newsletter input[type="submit"]{
    width:50px;
    height:50px;
    text-indent: 200%;
    position:absolute;
    z-index: 2;
    right:0;
    top:0;
    border:none;
    box-shadow: none;
    background-image: url('../img/slider-next.png');   
    background-position: -64px -5px;
}

/*Search-------------------------------*/
.widget.search{
    position:relative;
}
.widget.search input[type="text"]{
    width:99%;
    height:22px;
    padding:4px 0px !important;
}
.widget.search input[type="submit"]{
    position:absolute;
    width:32px;
    height:32px;
    background: url('../img/search.png') no-repeat;
    z-index: 2;
    right:0;
    top:0;
    text-indent: 200%;
    border:none;
    box-shadow: none;
}
/*-------------columns---------------*/
.view{
	overflow: hidden;
    position: relative;
}
.show-grid [class*="span"] {
    background-color: #EEE;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}
.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
/*--------------contact us---------------*/
#google-map{
    border:1px solid #ccc;
    margin-bottom:25px;
    height:400px;
}
#google-map.screen{
    height:575px;
}
.dropdown{
    position: relative;
}

/*------------------ breadcrumb ----------*/
#page-title{
    position: relative;
}
.breadcrumb{
    left:0;
    background: none;
	padding:0;
}
.breadcrumb .divider{
    background: none;
}

/*-------------- Responsive ------------------*/
@media (min-width: 768px) and (max-width: 979px) {
    #nav li{
        *padding:0 5px !important;
    }
    #nav li a{
        font-size: 16px !important;
    }
    #nav li ul li > a{
        font-size: 12px !important;
    }
    #header .inner-logo{
        height:85px;
    }
    #menu-container{
        height: 88px !important;
    }
    #menu-container.min{
        height: 88px !important;
    }
    #nav > li{
        padding: 59px 11px 8px 11px !important;
    }
    .rep-bar .span9{
        width:100%;
    }
    .rep-bar .span3{
        width:100%;
        margin-left:0;
    }
    .slider-caption h3{
        font-size:19.5px ;
    }
    .social-icons li{
        margin-left:2px !important;
    }
	#wrap{
		margin-top:110px !important;
    
	}
}

@media (max-width: 767px) {
    #header .container{
        width:95%;
    }
    #header .row-fluid .span3{
        width:43.42%;
        float:left;
    }
    #header .row-fluid .span6{
        width:48.9361%;
        float:left;
    }
    #header .row-fluid .span9{
        width:54.4680%;
        float:left;
    }
	#header .inner-logo.min{
		display: none;
	}
    #header .border-bott{
        border:none;
    }
    #header{
        background: #2F2F2F!important;
    }
    .js #nav { display: none; }
    .js .selectnav { 
        display: block;
        width:100%; 
    }
    select.selectnav{
        webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    #menu-container,#menu-container.min{
        height: 40px !important;
        padding-top: 17px !important;
    }
    
   #slider{
        margin-top:80px;
    }
    .social-icons{
        margin-right: 0px !important;
    }
    .top-search{
        float:none !important;
    }
    .main-container{
        width: 55%;
        margin: 0 auto;
    }
    .multibox {
        height:400px !important;
    }
    .multibox .titles .pointer{
    background:url('../img/white-arrow.png') no-repeat !important;
    right:-1px !important;
    }
    .slider-caption h3{
        font-size:15.5px ;
        line-height: 27px !important;
    }
    .slider-caption h3 span{
        padding:14px !important;
    }
    #upper-footer .container,#footer .container,#bottom .container{
        width:90%;
    }

    .vertical-blog .span8{
        width:65% !important;
        float:left;
        margin-left:3%;
    }
     .vertical-blog .span4{
        width:31.5% !important;
        float:left;
    }
	#wrap{
		margin-top:90px !important;
    
	}
}
@media (max-width: 480px) {
    #slogan-outer{
        display:none;
    }
    #header .row-fluid .span3{
        width:100%;
        float:left;
    }
    #header .inner-logo{
        width:100%;
        display: block !important;
        float:none !important;
        text-align: center;
        padding-top:10px;
    }
    #header .row-fluid .span9{
        width:100%;
        float:left;
    }
    .main-container{
        width: 85%;
        margin: 0 auto;
    }
    .slider-description,.slider-more{
        display:none;
    }
    .slider-caption h3{
        font-size:12.5px ;
        line-height: 24px !important;
    }
    .slider-caption h3 span{
        padding:5px !important;
    }
    .left-bottom,.right-bottom,.left-top,.right-top {
    left:0% !important;
    right:auto !important;
    }
    #header .container{
        width:100% !important;
    }
    #menu-container{
        width:70%;
        margin:0 auto !important;
        padding-top:10px !important;
    }
    #menu-container.min{
        padding-top:0px !important;
    }
    #slider{
        margin-top:115px;
    }
     #header .inner-logo.min{
        height:0px !important;
        min-height: 0 !important;
        overflow:hidden;
    }
    #header .inner-logo.min img{
        height:0px !important;
    }
	.breadcrumb{
		display:none;
	}
	#wrap{
		margin-top:130px !important;
	}
}

.selectnav { display: none; }
#sidebar {padding-top:19px;}
#main-container{position: relative;}
#login li{padding: 5px 0;}
#login ul, #register ul, #reset-pass ul,#activate-user ul,#login-small ul{margin:0;}
.widget.newsletter button{
    width:50px;
    height:50px;
    border-radius:0 !important;
    
}

/*-- entry detail --*/
.entry-detail-row {
    position: relative;
}
.entry-detail-row:first-child .entry-detail-name {
    border-top: medium none;
}
.entry-detail-row:first-child .entry-detail-value {
    border-top: medium none;
}
.entry-detail-value {
    border-top: 1px dotted #D5E4F1;
    margin-left: 160px;
    padding: 6px 4px 6px 6px;
}
.entry-detail-value > span + span:before {
    border-bottom: 1px solid #FFFFFF;
    color: #666666;
    content: ",";
    display: inline;
    margin-left: 1px;
    margin-right: 3px;
}
.entry-detail-value > span + span.editable-container:before {
    display: none;
}
.entry-detail-name {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px dotted #D5E4F1;
    bottom: 0;
    font-weight: bold;
    left: 0;
    padding: 6px 10px 6px 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 150px;
}
.entry-detail-value ul{
	padding-left: 15px;
}
.entry-detail-value li{
	list-style: disc;
}
@media only screen and (max-width: 480px) {
.entry-detail-name {
    width: 80px;
}
.entry-detail-value {
    margin-left: 90px;
}
}

/*-- Tags --*/

.tags {
  display: inline-block;
  padding: 4px 6px;
  color: #777777;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #d5d5d5;
  width: 206px;
}
.tags:hover {
  border-color: #b5b5b5;
}
.tags-hover,
.tags-hover:hover {
  border-color: #f59942;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
.tags[class*="span"] {
  float: none;
  margin-left: 0;
}
.tags input[type="text"],
.tags input[type="text"]:focus {
  border: none;
  display: inline;
  outline: 0;
  margin: 0;
  padding: 0;
  line-height: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}
.tags .tag {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: normal;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #91b8d0;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 4px 22px 5px 9px;
  margin-bottom: 3px;
  margin-right: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /**
  &:nth-child(5n+1) {
	background-color:#48A2E0;
  }
  &:nth-child(5n+2) {
	background-color:#34C896;
  }
  &:nth-child(5n+3) {
	background-color:#B57BB3;
  }
  &:nth-child(5n+4) {
	background-color:#CC7DA8;
  }
  &:nth-child(5n+5) {
	background-color:#666;
  }
*/

}
.tags .tag:empty {
  display: none;
}
.tags .tag-important {
  background-color: #d15b47;
}
.tags .tag-warning {
  background-color: #ffb752;
}
.tags .tag-success {
  background-color: #87b87f;
}
.tags .tag-info {
  background-color: #A3C50F;
}
.tags .tag-inverse {
  background-color: #555555;
}
.tags .tag .close {
  font-size: 15px;
  line-height: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  color: #FFF;
  text-shadow: none;
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 18px;
  text-align: center;
}
.tags .tag .close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*-- video --*/

.video-thumbnail img{
	max-width: 250px;
}
.video-thumbnail{
	margin-bottom: 35px;
}

/*-- end of file --*/