@import url("pepper-ginder-custom.css");

code, pre.code {
	font: 11px/13px monospace;
	background-color: #FFC;
	padding: 2px;
	border: 1px dotted grey;
}

.clear {clear: both;}

a {text-decoration: none; color: #800;}
a:hover {text-decoration: underline;}

#share {
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: right;
}

#page {
	position: relative;
	margin: 1em auto;
	padding: 2em;
	width: 960px;
	background: white url('images/ui-bg_fine-grain_10_f8f7f6_60x60.png') repeat;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #D9D6C4;
	color: #1F1F1F;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

#demos-list {padding: 0;}

#flairs {text-align: center;}
#flairs ul {list-style: none; padding: 0;}
#flairs li {display: inline;}

.demo {
	vertical-align: top;
	display: inline-block;
	margin: 1em 1%;
	width: 43.5%;
	background-color: rgba(0, 0, 0, .1);
	padding: 0 2%;
	border-radius: 10px;
}

.demo.full-row {
	width: 95%;
}

.demo ul, .demo ol {list-style-position: inside;}
.demo .box {
	float: left;
	margin: 0 1em 1em 0;
}

.example {
	color: #006400;
}

.important-note {
	font-weight: bold;
	color: #B22222;
}

.reference-to {
	font-size: large;
	font-weight: bold;
}

.code-box {clear:both;}
.code {
	padding: 5px;
	color: #333;
	background-color: white;
	font: small monospace;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #8C8C8C;
	background: #F8F7F6 url('images/ui-bg_fine-grain_10_f8f7f6_60x60.png') 50% 50% repeat;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	border: 1px solid #8C8C8C; 
	background: #f8f7f6 url(images/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat; 
	font-weight: bold; 
	color: black; 
}


/* begin: jQuery UI Datepicker moving pixels fix */
/*table.ui-datepicker-calendar {border-collapse: separate;}*/
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #24B04B none;
	color: white;
	border: 1px solid #24B04B;
}
/* end: jQuery UI Datepicker emphasis on selected dates */


/* begin: jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:block;}
.ui-corner-all {border-radius: 0px !important;}
/* end: jQuery UI Datepicker hide datepicker helper */

.ui-datepicker-inline {
 	display: block !important;
  width: 100% !important;
}

.ui-datepicker td > a.ui-state-active {
  background-color: #f8f7f6;
  color: black;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 0px solid #24B04B;
  background: white 50% 50% repeat;
  color: black;
  /*border: none;*/
  /*background: none;*/
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 20px;
}
.ui-datepicker td > a.ui-state-highlight {
    background-color: #d15b47;
    color: #ffffff;
    border: 1px solid #d15b47;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
	border: 1px solid #24B04B;
	background: #f8f7f6 url(images/ui-bg_fine-grain_65_f8f7f6_60x60.png) 50% 50% repeat; 
	font-weight: bold; 
	color: #24B04B; 
}

.ui-widget-content {
    border: 1px solid #d9d6c4;
    background: #FFFFFF url(images/ui-bg_fine-grain_10_FFFFFF_60x60.png) 50% 50% repeat;
    color: #1f1f1f;
}

#ui-datepicker-div {
    display: none;
}

.ui-datepicker .ui-datepicker-next:hover {
	background: none;
	border: 0 solid;
    top: 2px;
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev:hover {
	background: none;
	border: 0 solid;
    top: 2px;
    left: 2px;
}

.ui-datepicker td span, .ui-datepicker td a {
	text-align: center;
}