/* 

 * Theme Name : Business

 * Created in 11 / 2012 

 */



/* --------------------------------------------------------------

  Table of contents

  #Main theme color is : 05acd6



  0  - Reset []

  1  - Main

  2  - Top Section 

  3  - Logo and ad

  4  - Navigation

  5  - Home slider

  6  - Posts 4 Cols

  7  - Sidebar

  8  - Footer

  9  - Slider

  10 - Grid Posts

  11 - Mixed Posts

  12 - Single Post

  13 - shortcodes

  14 - JsPane Slider

  15 - IE FIX

     - Prettyphoto

 -----------------------------------------------------------------*/







 /* -------------------------------------------------------------- 

  0 - Reset []

  -------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

  display: block;

}

body {

  line-height: 1;

}

a, img {

-webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -transition:all 0.3s linear;
}
.image img:hover{ opacity:0.7}


ol, ul {

  list-style: none;

}

blockquote, q {

  quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

  content: '';

  content: none;

}

table {

  border-collapse: collapse;

  border-spacing: 0;

}









 /* -------------------------------------------------------------- 

   1 - Main

  -------------------------------------------------------------- */



body {

  background: #f6f6f6;
  
  background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(left,  #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(50%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f5f5f5 0%,#ffffff 50%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f5f5f5 0%,#ffffff 50%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f5f5f5 0%,#ffffff 50%,#f5f5f5 100%); /* IE10+ */
background: linear-gradient(to right,  #f5f5f5 0%,#ffffff 50%,#f5f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */



}







/**

 * Fix boxed version

 */



.boxed-wrapper.container {

  background: #f6f6f6;

  padding:0px 20px;



}



.boxed-wrapper.container > footer {

  padding: 0px 20px;

  margin-left: -20px;

}



.boxed-wrapper.container footer .widgets {

  padding-left:20px;

  padding-right: 20px;

  margin-left: -20px;

}







/**

 * End fix boxed version

 */



::-moz-selection { background: #2b2b2b; color: #fff; text-shadow: none; }

::selection { background: #2b2b2b; color: #fff; text-shadow: none; }





p , li , a , span , dt , dd , td , tr , th , code , caption , figcaption , input , label , textarea , article , blockquote{

  font-family: 'tahoma' , sans-serif;

  /*text-align: left;*/

  line-height: 22px;

  font-size: 12px;

  color: #606060;

}

.classic-blog .posts .single-post .meta .content {
	font-family: 'tahoma' , sans-serif;

	float: left;

	line-height: 22px;

	font-size: 12px;

	color: #606060;
}



h1 , h1 span , h1 a ,

h2 , h2 span , h2 a ,

h3 , h3 span , h3 a ,

h4 , h4 span , h4 a ,

h5 , h5 span , h5 a ,

h6 , h6 span , h6 a {

  font-family: 'Open Sans' , sans-serif;

  font-weight: normal;

  color: #212121;

  margin-bottom: 4px;

  text-decoration: none;

}





.margin {

  float: left;

  clear: both; 

  margin: 25px 0px;

  width: 100%; 

}







.margin-half {

    float: left;

  clear: both; 

  margin: 10px 0px;

  width: 100%; 

}



.border {

  height: 1px;

  background: #dfdfdf;

  float: left;

  clear: both;

  width: 100%;

  margin: 30px 0px 30px 10px;

}



.border-center {

  width: 50%;

  margin-left: 25%;

  height: 1px;

  background: #dfdfdf;

  margin-right: 25%;

}





h1 , h1 a {

  font-size: 28px;

}



h2 , h2 a {

  font-size: 20px;

}



h3 , h3 a {

  font-size: 17px;

}



h4 , h4 a {

  font-size: 14px;



}



h5 , h5 a {

  font-size: 13px;

  line-height: 17px;



}



h6 , h6 a {

  font-size: 12px;

}





span.custom , span.custom a {

  color: #05acd6;

  text-decoration: none;

}





a:hover 

{

  color: #05acd6;

}





 /* -------------------------------------------------------------- 

   2 - Top section 

  -------------------------------------------------------------- */



section.top-section {

  width: 100%; 

  clear: both;

  background: #05acd6;

  position: relative;

}



section.top-section .sixteen {

   padding: 15px 0px;

   position: relative;

}





section.top-section .container .sixteen {

  position: relative;

}





nav.top-menu {

  float: left; clear: both; margin: 0px;

}



nav.top-menu ul {

  float: left; clear: both;

  margin: 0px;

  padding: 0px;

}



nav.top-menu ul li {

  float: left;

  display: inline;

}



nav.top-menu ul li a {

  float: left; clear: both;

  margin: 0px;

  color: #efefef;

  font-family: 'Open Sans' , sans-serif;

  font-size: 13px;

  line-height: 15px;

  margin-right: 20px;

  text-decoration: none;

}



section.top-section p {

  color: #efefef;

  font-family: 'Open Sans' , sans-serif;

  line-height: 15px;

  font-size: 13px;

}



nav.top-menu ul li:last-child a {

  margin-right: 0px;

}







section.top-section .lang {

  float: right;

}



section.top-section .lang p {

  float: left; margin-right: 9px;

}



section.top-section .lang a {

  width: 22px;

  height: 17px;

  float: left; 

  margin-right: 6px;

}





section.top-section .lang .en {

  background: url(../img/en.png) no-repeat;

}



section.top-section .lang .fr {

  background: url(../img/fr.png) no-repeat;

}



section.top-section .lang .de {

  background: url(../img/de.png) no-repeat;

}





/* toggle */

section.top-section a.toggle {

  background: #05acd6 url(../img/arrow_up.png) 8px 8px no-repeat;

  width: 15px;

  height: 10px;

  padding: 8px;

  position: absolute;

  display: block;

  right: -80px;

  bottom: -26px;

  margin: 0px;

  cursor: pointer;

}





section.top-section a.toggleDown {

  background: #05acd6 url(../img/arrow_down.png) 8px 8px no-repeat;

  width: 15px;

  height: 10px;

  padding: 8px;

  position: absolute;

  display: block;

  right: -80px;

  bottom: -26px;

  margin: 0px;

  cursor: pointer;

}



section.top-section a:focus {

  outline: none;

}





 /* -------------------------------------------------------------- 

   3 - Logo and Ad

  -------------------------------------------------------------- */

section.logo .container {

  background: #fff;

  border-bottom: 2px solid #f2f2f2;

  padding: 20px 0px 15px 0px;

}





section.logo .logo-wrapper {

  float: left; clear: both;

  margin-left: 5px;

  margin-top: 16px;

}



section.logo .logo-wrapper a {

  float: left; clear: both;

}



section.logo .logo-wrapper span {

  color: #b2b2b2; float: left; clear: both; 

}



section.logo .advertise {

  float: right; margin-right: 10px;

}







 /* -------------------------------------------------------------- 

   4 - navigation

  -------------------------------------------------------------- */



section.navigation-section {

  margin-top: 25px;

  margin-bottom: 25px;

}





section.navigation-section .container {

  background-image: linear-gradient(bottom, #313131 0%, #4E4E4E 100%);

  background-image: -o-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);

  background-image: -moz-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);

  background-image: -webkit-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);

  background-image: -ms-linear-gradient(bottom, #313131 0%, #4E4E4E 100%);



  background-image: -webkit-gradient(

    linear,

    left bottom,

    left top,

    color-stop(0, #313131),

    color-stop(1, #4E4E4E)

  );





  border-left-width: 4px;

  border-left-style:  solid;

  border-left-color: #03a6d0;

  border-right-width: 4px;

  border-right-style:  solid;

  border-right-color: #03a6d0;

  width: 944px;



}









section.navigation-section .container .sixteen {

  background: url(../img/menu-pattern.png) repeat;



}





section.navigation-section nav.navigation {

  padding: 0px;

  float: left;

}



section.navigation-section ul {

  padding: 0px;

  margin: 0px;

}



section.navigation-section ul li {

  float: left; 

  display: inline;

}



section.navigation-section ul li.first {

  

}



section.navigation-section ul li a {

  font-size: 14px;

  line-height:15px;

  padding: 19px 15px;

  float: left;

  font-family: 'Open Sans', sans-serif;

  color: #efefef;

  text-transform: uppercase;

  font-weight: normal;

  text-decoration: none;

}



section.navigation-section ul li a:hover {

  

  background-color: #05acd6;



}



section.navigation-section ul ul {

  display: none;

}







 /* -------------------------------------------------------------- 

   5 - Home slider

  -------------------------------------------------------------- */


.slides .image img {
    min-height: 350px;
    min-width: 700px;
}

.desc h2 {
    margin-left: 15px;
}


 /* -------------------------------------------------------------- 

   6 - Posts 4 columns

  -------------------------------------------------------------- */



.page-content  .page-content {

  margin-left: -10px;

}





.page-content .left-side {

  overflow: hidden;



}





.left-side.columns .section {

  margin-bottom: 30px;

  float: left;

  clear: both;

  width: 100%; 

  overflow: hidden;

   padding: 0px;

}



body .no-margin.columns .section 

{

  margin-bottom: 0px;

}



.section .header {

  position: relative;

  width: 100%;

  float: left; 

  clear: both;

  margin-bottom: 25px;

  padding-bottom: 10px;

  border-bottom: 1px solid #e2e2e2;

}





.section .header span {

  position: absolute;

  left: 0px;

  bottom: -3px;

  width: 50px;

  height: 4px;

  background: #05acd6;

}





/**

 * Post formats

 */

.posts .single-post .image {

  position: relative;

}

.posts .single-post .image img {
    min-height: 150px;
    min-width: 150px;
}

.posts .single-post .image .post-format {

  position: absolute;

  top: 0px;

  right: 0px;

  padding: 6px;

  cursor: pointer;

  background-color: #05acd6;

  background-repeat: no-repeat;

  background-position: 6px 6px;

}



.post-format.link {

  background-image: url(../img/link.png);

  width: 10px;

  height: 10px;

}



.post-format.quote {

  background-image: url(../img/quote.png);

  width: 11px;

  height: 14px;

}



.post-format.image {

  background-image: url(../img/image.png);

  width: 16px;

  height: 12px;

}



.post-format.video {

  background-image: url(../img/video.png);

  width: 8px;

  height: 9px;

}



/**

 * 145 columns width

 */



.box145 .posts {

  margin-bottom: -20px;

  clear: both;

  float: left;

}

.box145 .posts .single-post {

  width: 145px;

  margin-right: 20px;

  float: left; clear: none;

  max-width: 145px;

  display: block;

  margin-bottom: 20px;

}



.box145 .posts .single-post div.image {

   height: 124px;

}



.box145 .posts .single-post:nth-child(4n) {

  margin-right: 0px;

}







.posts .single-post .image {

  margin-bottom: 10px;

}









/**

 * 310 columns

 */



.box310 .posts {

  float: left; clear: both;

  margin-bottom: -20px;



}





.box310 .single-column {

  width: 305px;

  margin-right: 20px;

  float: left;

  clear: none;

  display: block;

  overflow: hidden;

  margin-bottom: 50px;

}







.box310 .single-column:nth-child(3n) {

  margin-right: 0px;

}





.box310 .single-post.featured {

  margin-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 5px;
  min-height: 295px;
}





.box310 .single-post.featured div.image {

  height: 149px;

  overflow: hidden;

  float: left;

  clear: both;

  margin-bottom: 10px;

}



/**

 * Grid Posts

 */





.style-grid {

  float: left; clear: both;

  margin-bottom: -15px;

}



.style-grid .grid-post {

  float: left;

  clear: both;

  margin-bottom: 10px;

  padding-bottom: 5px;

  border-bottom: 1px solid #e2e2e2; 

}





.style-grid .grid-post .image {

  width: 57px;

  height: 57px;

  float: left; 

  clear: both;

  overflow: hidden;

}

.meta .date p{
	font-size: 11px;
}

.style-grid .grid-post .meta {

   

  clear: none; margin-left: 69px;

}





.style-grid .grid-post .meta h5 {

  margin-bottom: 10px;

  color: #333333;
  min-height: 33px;
  width: 240px;


}



.style-grid .grid-post .meta .date p , .style-grid .grid-post .meta .date span , .style-grid .grid-post .meta .date a {

  font-size: 11px;

  color: #a4a4a4; 

  line-height: 19px;

  text-decoration: none;

}



.style-grid .grid-post .meta .date p {

  

}



.style-grid .grid-post .meta .date .fav {

  float: right;

}



.date .fav a {

  padding-left: 17px;

  margin-left: 10px;

}



.date .fav .comments-link:hover {

  background: url(../img/small_bubble-hover.png) 0px 1px no-repeat;

}

.date .fav .like {

  background: url(../img/heart.png) 0px 1px no-repeat;

}

.date .fav .like:hover {

  background: url(../img/heart-hover.png) 0px 1px no-repeat;

}





a.view-more {

  

  padding: 7px 0px;

  width: 100%;

  float: left;

  clear: both; 

  text-align: center;

  color: #008eb2;

  border-bottom: 1px solid #e2e2e2;

  background: #EFEFEF;

  font-size: 11px;

  line-height: 11px;

  font-family: 'Open Sans' , sans-serif;

  text-decoration: none;

  margin-top: 5px;

}









/**

 * 53px Columns

 */



.box53 .posts {

  margin-bottom: -20px;

  float: left;

  clear: both;

}

.box53 .posts .single-post {

  width: 53px;

  height: 53px;

  margin-right: 20px;

  margin-bottom: 20px;

  float: left;

  clear: none; 

  overflow: hidden;

  background: #3c3c3c;

}



.box53 .posts .single-post img

{

  -webkit-transition: opacity: 0.5;

  -moz-transition: opacity: 0.5;

  -o-transition: opacity: 0.5;

  -ms-transition: opacity: 0.5;

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  filter: alpha(opacity=50);

  transition: opacity: 0.5;

}



.box53 .posts .single-post img:hover

{

  opacity: 0.5;

}



.box53 .posts .single-post:nth-child(9n) {

  margin-right: 0px;

}

















 /* -------------------------------------------------------------- 

   7 - Sidebar

  -------------------------------------------------------------- */



.page-content .right-side .widgets {



  float: left;

  clear: both;

  width: 100%;

  margin: 0px;



}





.page-content .right-side .widgets .widget {

  float: left; clear: both;

  margin-bottom: 35px;

  width: 100%; 

}





/**

 * Search

 */



.right-side .searchform {

  float: left; 

  clear: both;

  margin: 0px;

  padding: 0px;

  background: #efefef;

  width: 100%; 

  position: relative;

  border: 1px solid #E4E4E4;

}



.right-side .searchform input.s {

  float: left; clear: both; 

  margin: 0px;

  padding: 15px 0px 15px 12px;

  background: none;

  border: none;

  position: relative;

  z-index: 0;

  width: 95%;

  font-size: 11px;

  line-height: 11px;

  color: #A7A7A7;

}



.right-side .searchform .submit {

  position: absolute;

  right: 10px;

  top: 10px;

  background: url(../img/zoom.png) no-repeat;

  width: 24px;

  height: 24px;

  display: block;

  cursor: pointer;

  border: none;

  outline: none;

}





/**

 * Social Badges

 */



.social-badges div {

  width: 50px;

  margin-right: 30px;

  margin-left: 10px;

  float: left; 

  text-align: center;

}



.social-badges div a {

  width: 50px;

  height: 50px;

  display: block;

  margin-bottom: 5px;

}



.social-badges .facebook a {

  background: url(../img/facebook.png) no-repeat;

}



.social-badges .twitter a {

  background: url(../img/twitter.png) no-repeat;

}



.social-badges .subscribers a {

  background: url(../img/rss.png) no-repeat;

}





.social-badges p {

  font-size: 11px;

  font-family: 'Tahoma' , sans-serif;

  color: #383838;

  line-height:14px;

  text-decoration: center;

  float: none;

  clear: both;

}







/**

 * Recent Posts

 */

.widget .tabs {

  float: left;

  clear: both;

  width: 100%;

}



.widget .tabs .links {

  float: left; 

  clear: both;

  background: #fff;

}



.widget .tabs .links a {

  float: left; clear: none;

  background: #f9f9f9;

  border-top-width: 2px;

  border-top-style:  solid;

  border-top-color:  #e4e4e4;

  border-right: 1px solid #e4e4e4;

  border-left: 1px solid #e4e4e4;

  border-bottom: 1px solid #e4e4e4;

  text-decoration: none;

  padding: 7px 20px;

  height: 23px;

  font-family: 'Open Sans' , sans-serif;

  font-size: 13px;

  width: 51.3px;



}





.widget .tabs .links a.active {

  border-top-width: 3px;

  border-top-style:  solid;

  border-top-color:  #05acd6;

  background: #fff;

  margin-bottom: -1px;

}



.widget .tabs .links a.comments-tab-link {

  background-image: url(../img/bubble.png);

  background-position: 50% 50%;

  background-repeat: no-repeat;



}



.widget .posts-tab {

  float: left;

  clear: both;

  width: 100%;

  background: #fff;

  border-right: 1px solid #e4e4e4;

  border-bottom: 1px solid #e4e4e4;

  border-left: 1px solid #e4e4e4;

  padding: 27px 0px 0px 0px;

  overflow:  hidden;

}





.widget .posts-tab .post-tab {

  margin-left: 12px;

  float: left; 

  clear: both;



}



.widget .posts-tab .post-tab h4 a {

  text-decoration: none;

}



.widget .posts-tab .post-tab .single-post  .image {

  width: 69px;

  height: 69px;

  float: left; 

  clear: both;

  min-height: 69px;

  margin-top: 5px;

  overflow: hidden;

  display: block;



}



.widget .posts-tab .post-tab .single-post {

  margin-bottom: 30px;

}

.widget .posts-tab #recent-posts-tab .single-post {
	margin-bottom: 10px;
}

.widget .posts-tab #recent-posts-tab .single-post:first-child {
    margin-top: -15px;
}

.widget .posts-tab #recent-posts-tab .single-post .date{
	float: left;
}

.widget .posts-tab #recent-posts-tab .single-post .meta a{
	text-decoration: none;
}

.widget .posts-tab .post-tab {

  

  float: left;

  clear: both;

  position: relative;

  padding-right: 10px;

}



.widget .posts-tab #recent-posts-tab .single-post .meta {



  margin-left: 45px;

}

.widget .posts-tab .post-tab .single-post .meta {
    margin-left: 70px;
}


/**

 * Ad Widget

 */

.widget .header {

  position: relative;

  width: 100%;

  float: left; 

  clear: both;

  margin-bottom: 14px;

  padding-bottom: 7px;

  border-bottom: 1px solid #e2e2e2;

}





.widget .header span {

  position: absolute;

  left: 0px;

  bottom: -3px;

  width: 50px;

  height: 4px;

  background: #05acd6;

}



.widget .ads-widget-content {

  float: left;

  clear: both;

  width: 100%;

  margin-bottom: -20px;

}



.widget .ads-widget-content a {

  width: 125px;

  height: 125px;

  margin-right: 20px;

  margin-bottom: 20px;

  float: left;

}



.widget .ads-widget-content a:nth-child(2n) {

  margin-right: 0px;

}





/**

 * video widget

 */



.widget .carousel {

  width: 100%;

}



.widget .carousel ul , .widget .carousel ul  li {

  float: left;

  clear: both;

  width: 100%;

}



.widget .carousel .meta {



   float: left;

   clear: both;

}



.widget .video {

  margin-bottom: 15px;

  float: left;

  clear: both;

  width: 100%;

}



.widget  .meta h5 {

  margin-bottom: 15px;

  color: #333333;





}



.widget  .meta .date p , .widget  .meta .date span , .widget  .meta .date a {

  font-size: 11px;

  color: #a4a4a4; 

  line-height: 19px;

  text-decoration: none;

}



.widget  .meta .date p {

  

}



.widget  .meta .date .fav {

  float: right;

}









/**

 * video widget

 */





.widget-content .carousel {

  float: left;

  clear: both;

  width: 100%; 

  position: relative;

}





.widget-content .carousel iframe {

  width: 100%;

  max-width: 100%; 

  float: left;

  

}



.widget-content .carousel ul {

  padding: 0px;

  margin: 0px;

  float: left;

  clear: both;

  width: 100%;

  position: relative;

  

}





.widget-content .carousel ul li {

  list-style: none;

  display: inline;

  float: left;

  clear: none;

  margin: 0px;

  padding: 0px;

  position: relative;

  width: 100%;

  overflow: hidden;

}



.widget-content .carousel .meta {

  float: left;

  clear: both;

}



.widget-content .carousel ul li .desc {

  position: absolute;

  bottom: 7px;

  left: 0px;

  width: 100%; 

  z-index: 1;

}





.widget-content .carousel ol.flex-control-nav {

  padding: 0px;

  clear: both;

  margin-top: 0px;

  width: 100%;

  text-align: center;

  position: relative;

}



.widget-content .carousel ol.flex-control-nav li {

  margin-right: 7px;

  display: inline-block; zoom: 1; 

}



.widget-content .carousel ol.flex-control-nav li a {

  text-indent: -9999px;

  float: left;

  height: 3px;

  width: 25px;  

  background: #7f7f7f;

  cursor: pointer;

}





/**

 * controls

 */

.widget-content .carousel .carousel-control {

  position: absolute;

  top: -37px;

  width: 16px;

  height: 14px;

  outline: none;

  border: none;

  float: right;

  background-position: 5px 4px;

  background-repeat: no-repeat;

  cursor: pointer;

  outline: none;

}







.widget-content .carousel span:active,  .widget-content .carousel span:focus {

  border: none;

  outline: none;

}





.widget-content .carousel .carousel-control.previous  {

  background-color:  #212121 ;

  background-image:url(../img/video-left.png);

  right: 17px;

}



.widget-content .carousel .carousel-control.next {

  background-color:  #212121 ;

  background-image: url(../img/video-right.png);

  right: 0px;

}



.widget-content .carousel .carousel-control.hover  {

  background-color: #05acd6 ;

}











/**

 * WP Calendar

 */



#wp-calendar tbody  , #wp-calendar tfoot , #wp-calendar thead {

  clear: both;

  width: 100%;

  max-width: 100%;



}



#wp-calendar {

  float: left;

  clear: both;

  margin: 0px;

  padding: 0px;

  width: 100%;

  position: relative;

}







#wp-calendar tbody th , #wp-calendar tbody td , #wp-calendar thead th , #wp-calendar thead td   {

  text-align: center;

  padding: 7px 10px;

  font-size: 11px;

}



#wp-calendar th , #wp-calendar  td {

  font-size: 11px;

  text-align: center;

}



#wp-calendar thead th {

  background: #666666;

  color: #fff;

}



#wp-calendar tbody td {

  background: #efefef;

}





#wp-calendar tbody td.pad {

  background: #fff;

}



#wp-calendar td {

  border: 1px solid #DBDBDB;

}



#wp-calendar thead th {

  border:1px solid #e2e2e2;

}





td#today {

  color: #05acd6;

}





/**

 * caption

 */





.calendar-caption {

  float: left;

  clear: both;

  width: 100%; background: #fff;

  position: relative;

  overflow: hidden;

  border-bottom: 1px solid #dbdbdb;

}



.calendar-caption .caption {

  border-top: 1px solid #dbdbdb;

  border-right: 1px solid #dbdbdb;

  border-left: 1px solid #dbdbdb;

  font-size: 13px;

  color: #212121;

  background: #fff;

  clear: both;

  position:  relative;

  z-index: 0;

}



.calendar-caption a.prev  ,.calendar-caption  a.next {

  width: 17px;

  top: 0px;

  border: none;

  z-index: 1;

  height: 30px;

  position:   absolute;



}



.calendar-caption p {

  float: left;

  clear: both;

  margin-left: 37px;

  z-index: 0;

  position: relative;

  width: 70%;

  text-align: center;

  background: #fff;

  font-size: 13px;

  padding: 7px 0px;

  height: 35px;

  line-height: 36px;



}



.calendar-caption a.prev {

  float: left;

  clear: none;

  max-width: 17px;

  left: 0px;

  border-left: 1px solid #dfdfdf;

}



.calendar-caption  a.next {

  float: right;

  clear: none;

  right: 0px;

}





.calendar-caption  .prev {

  outline: none;

  text-decoration: none;

  text-indent: -9999px;

  float: left;

  border: none;

  width: 10px;

  padding: 10px;

  margin: 0px;

  border: none;

  background: #efefef url(../img/left-arrow-black.png) 12px 22px no-repeat;

}





.calendar-caption .next{

  border: none;

  background: #05acd6 url(../img/video-right.png) 14px 22px no-repeat;

  outline: none;

  text-decoration: none;

  text-indent: -9999px;

  float: right;

  clear: none;

  width: 10px;

  padding: 10px 10px 11px 10px;

  margin: 0px;

 }



 /* -------------------------------------------------------------- 

   8 - Footer Widgets

  -------------------------------------------------------------- */

footer.footer {

  width: 100%; 

  margin-top: 50px;

  clear: both;

  background: #2e2e2e;

  position: relative;

  border-top: 3px solid #05acd6; 



}





footer .widgets {

  clear: both;

  width: 100%;

  background: #3b3b3b;

  padding-bottom: 10px;

}



footer .widget {

  float: left;  

  margin-bottom: 20px;

}



footer.footer .container {

  position: relative;

  padding: 20px 0px 30px 0px;

}





footer.footer .widgets .sixteen {

  padding-top: 20px;

}





footer .container .subscribe-form {

  position: absolute;

  right: 0px;

  top: -45px;

  background: #05acd6;

  padding: 8px;

  width: 217px;

}





footer .container .subscribe-form .signup {

  width: 100%; position: relative;

  color: #fff;

  font-size: 16px;

  font-family: 'Open Sans' , sans-serif;

  width: 217px;

  padding-top: 0px;

  text-decoration: none;

  text-align: center;

  padding: 3px 0px;



}



footer .container .subscribe-form input.subscribe-email {

  display: none;

  width: 130px;

  padding: 7px 10px;

  border: none;

  outline: none;

  background: #fff;

  float: left; margin: 0px;

  line-height: 12px;

  font-size: 12px;

  height: 12px;

  color: #bbbbbb; 

  margin: 0px;

}



footer .container .subscribe-form input.submit-subscribe {

  display: none;

  padding: 5.5px 10px;

  background: #313131;

  border: none;

  outline: none;

  color: #fff;

  font-size: 12px;

  line-height: 12px;

  height: 26px;

  margin-left: -1px;

  float: left;

  clear: none;

  overflow: hidden;

  position: relative;

  

}



footer p , footer span , footer div {

  color: #919090; 

}



footer h3 , footer h4 , footer h5 {

  color: #fff;

  margin-bottom: 17px;

  padding-bottom: 0px;

  float: left;

  clear: both;

  width: 100%; 

}





.col300 {

  width: 300px;

  max-width: 300px;

  display: block;

  float: left; 

  margin-right: 20px;

  margin-bottom: 20px;

}





.col300:nth-child(3n) {

  margin-right: 0px;

}

footer .widget .header span {
	background: none;
}







/**

 * connect widget

 */



footer .widget .header {

  margin: 0px;

  padding: 0px;

  border: 0px;



}



footer .widget h4 {

  border-bottom: 0px;

  padding-bottom: 0px;



}



.widget .social {

  float: left;

  clear: both;

  margin-bottom: -5px;

}





.widget .social a {

  width: 30px;

  height: 29px;

  float: left;

  margin-right: 10px;

  margin-bottom: 5px;

}



.widget .social a.facebook {

  background: url(../img/facebook-small.png) no-repeat;

}



.widget .social a.twitter {

  background: url(../img/twitter-small.png) no-repeat;

}

.widget .social a.linkedin {

  background: url(../img/linkedin-small.png) no-repeat;

}

.widget .social a.forrest {

  background: url(../img/forrest-small.png) no-repeat;

}



.widget .social a.lastfm {

  background: url(../img/lastfm-small.png) no-repeat;

}



.widget .social a.dribbble {

  background: url(../img/dribbble-small.png) no-repeat;

}



/* hover */

.widget .social a.facebook:hover {

  background: url(../img/facebook-small-hover.png) no-repeat;

}



.widget .social a.twitter:hover {

  background: url(../img/twitter-small-hover.png) no-repeat;

}

.widget .social a.linkedin:hover {

  background: url(../img/linkedin-small-hover.png) no-repeat;

}

.widget .social a.forrest:hover {

  background: url(../img/forrest-small-hover.png) no-repeat;

}



.widget .social a.lastfm:hover {

  background: url(../img/lastfm-small-hover.png) no-repeat;

}



.widget .social a.dribbble:hover {

  background: url(../img/dribbble-small-hover.png) no-repeat;

}





/**

 * Tweets

 */



.tweets {

  margin-bottom: -27px;

  float: left;

  clear: both;

  width: 100%; 

}



.tweets .single-tweet {

  background: url(../img/twitter-widget.png) left 4px no-repeat;

  padding-left: 30px;

  float: left;

  clear: both;

  margin-bottom: 27px;

}



.tweets .single-tweet .name{

  color: #fff;

}



.tweets .single-tweet .date {

  float: left;

  clear: both;

  color: #6a6a6a; 

}









/**

 * flickr

 */



.flickr-widget {

  float: left;

  clear: both;

  margin-bottom: -8px;

  width: 100%;

}



.flickr-widget .photo {

  float: left;

  width: 57px;

  height: 57px;

  border:2px solid #5b5b5b;

  overflow: hidden;

  margin-right: 8px;

  margin-bottom: 8px;

  -webkit-transition: opacity 0.5s;

  -moz-transition: opacity 0.5s;

  -o-transition: opacity 0.5s;

  -ms-transition: opacity 0.5s;

  transition: opacity 0.5s;

  opacity: 0.5;

}







.flickr-widget .photo:hover {

  border: 2px solid #05acd6;

  opacity: 1;

}



/**

 * Copyrights

 */



.copyrights .right p {

  float: right;

}













 /* -------------------------------------------------------------- 

   9 - Slider [flex]

  -------------------------------------------------------------- */







.slider {

    float: left;

    clear: both;

    position: relative;

    

  }



.slider ul {

  padding: 0px;

  margin: 0px;

  float: left;

  clear: both;

  width: 100%;

  position: relative;

  height: 350px;

  overflow: hidden;

}





.slider ul li {

  list-style: none;

  float: left; 

  margin: 0px;

  padding: 0px;

  position: relative;

  width: 100%;

  height: 350px;

}



.slider ul li .image {

  position: relative;

  z-index: 0;

  float: left;

  margin: 0px;

}



.slider ul li .desc {

  position: absolute;

  bottom: 0px;

  left: 0px;

  width: 100%; 

  z-index: 1;

}





.slider ol.flex-control-nav {

  padding: 0px;

  clear: both;

  margin-top: 0px;

  width: 100%;

  text-align: center;

  position: relative;

}



.slider ol.flex-control-nav li {

  margin-right: 7px;

  display: inline-block; zoom: 1; 

}



.slider ol.flex-control-nav li a {

  text-indent: -9999px;

  float: left;

  height: 3px;

  width: 25px;  

  background: #7f7f7f;

  cursor: pointer;

}



.slider ol.flex-control-nav li a.flex-active {

  background: #05acd6;

}



.slider ul li .desc * {

  color: #fff;

}



.slider .desc h3 {

  padding: 10px 15px;

  background: #05acd6;

  float: left;

  clear: both;

  font-size: 20px;

  margin-bottom: 0px;

}



.slider h3 a {

  text-decoration: none;

}





.slider .desc p {

  float: left;

  clear: both;

  font-size: 13px;

  line-height:19px;

  font-family: 'Tahoma' , sans-serif;

  width: 94%;

  margin-left: 3%;

  margin-right: 3%;

}



.slider .desc .p {

  background: url(../img/slider-bg.png) repeat;

   padding: 10px 0px;

   float: left;

   clear: both;

   width: 100%;

}











/**

 * Slider with thumbnails

 */

.sliderthumbs {

  float: left;

  clear: both;

  width: 100%;

  position: relative;

  margin-top: -40px;

  

}

.slider ul li .image img:hover{ opacity:1}

.sliderthumbs ul.slides {

  margin: 0px;

  clear: both;

  width: 100%;

  float: left;

  text-align: center;

  padding-top: 2px;

  margin-top:10px;

  padding-bottom: 2px;

  border-top: 1px solid #e5e5e5;

  border-bottom: 1px solid #e5e5e5;

  position: relative;

  

}





.sliderthumbs ul.slides li {

  display: inline-block;

  float: left;

  zoom: 1;

  margin-right: 8px;

  width: 61px;

  height: 63px;

  position:  relative;

  z-index: 1;

 

}



.sliderthumbs ul.slides li div {

  width: 57px;

  height: 57px;

  cursor: pointer;

  position:  relative;

  overflow: hidden;

  float: left;

  clear: both;

  border: 4px solid #fefefe;

}





.sliderthumbs ul.slides li.flex-active-slide div {

  border:4px solid #05acd6;

  position: relative;

}



.sliderthumbs ul.slides li.flex-active-slide:after {

  width: 0px;

  height: 0px;

  content: "";

  border-bottom: 10px solid #05acd6; 

  border-left: 8px solid transparent; 

  border-right: 8px solid transparent; 

  position: absolute;

  top: -8px;

  left: 25px;

  z-index: 3;

}





.sliderthumbs .flex-direction-nav {

  position: absolute;

  top: 40%;

  left: 0px;

  z-index: 2;

  width: 100%;

  display: none;

}





.sliderthumbs:hover .flex-direction-nav {

  display: block;

}



.sliderthumbs .flex-direction-nav li {

  float: left;

}



.sliderthumbs .flex-direction-nav li a {

  text-indent: -9999px;

  text-decoration: none;

}



.sliderthumbs .flex-direction-nav .flex-prev {

  position: absolute;

  left: 0px;

  top: 0px;

}



.sliderthumbs .flex-direction-nav .flex-next {

  position: absolute;

  right: 0px;

  top: 0px;

}



.sliderthumbs .flex-direction-nav a {

  position: absolute;

  top: -37px;

  width: 16px;

  height: 14px;

  outline: none;

  border: none;

  float: right;

  background-position: 5px 4px;

  background-repeat: no-repeat;

  cursor: pointer;

  outline: none;

}









.sliderthumbs .flex-direction-nav a.flex-prev  {

  background-color:  #212121 ;

  background-image:url(../img/video-left.png);

  right: 17px;

}



.sliderthumbs .flex-direction-nav a.flex-next {

  background-color:  #212121 ;

  background-image: url(../img/video-right.png);

  right: 0px;

}



.sliderthumbs .flex-direction-nav a:hover  {

  background-color: #05acd6 ;

}



 /* -------------------------------------------------------------- 

   10 - Grid Posts

  -------------------------------------------------------------- */

.header .switcher  , .header  .switcher {

  float: right; 

  clear: none;

  margin: 0px;

}



.section.header-switcher {

  float: left;

  clear: both;

  width: 100%;

}



.header-switcher .header h3 ,.header-switcher .header h3 {

  width: 70%;

  float: left;



}



.header .switcher span  , .header .switcher span {

  width: 14px;

  height: 14px;

  float: right;

  margin-left: 4px;

  display: block;

  position: relative;

  cursor: pointer;

}



.header .switcher span.grid , .header .switcher span.grid {

  background: url(../img/grid-posts.png) no-repeat;

}



.header .switcher span.classic , .header .switcher span.classic {

  background: url(../img/classic-posts.png) no-repeat;

}



.header .switcher span.grid.active ,.header  .switcher span.grid.active {

  background: url(../img/grid-posts-active.png) no-repeat;

}



.header .switcher span.classic.active , .header .switcher span.classic.active {

  background: url(../img/classic-posts-active.png) no-repeat;

}



.box200 .grids {

  margin-bottom: -27px;

  float: left;

  clear: both;

  width: 100%; 

}





.box200 .grids .single-post {

  width: 200px;

  max-width: 200px;

  float: left;

  margin-right: 20px;

  margin-bottom: 27px;

}



.box200 .grids .single-post .image {

  float: left;

  clear: both;

  width: 200px;

  height: 149px;

  margin-bottom: 10px;

  max-width: 200px;

}



.box200 .grids .single-post:nth-child(3n) {

  margin-right: 0px;

}



.box200 .grids .single-post .meta h4 a {

  font-size: 13px;

  text-decoration: none;



}



.box200 .grids .single-post .meta .date {

  float: left;

  clear: both;

  margin-top: 6px;

}



.box200 .grids .meta .date p {

  font-size: 11px;

  color: #a4a4a4;

  float: left;

  margin-right: 3px;

}



.box200 .grids .meta .date span.tag {

  color: #05acd6;

  font-size: 11px;

}









/**

 * Classic blog

 */



.classic-blog .posts {

  float: left;

  clear: both;

  width: 100%;

  margin-bottom: -59px;

}





.classic-blog .posts .single-post {

  float: left;

  clear: both;

  margin-bottom: 30px;

  padding-bottom: 20px;

  border-bottom: 1px solid #e5e5e5;

  width: 100%;

}



.classic-blog .posts .single-post:last-child {

  border-bottom: none;

  margin-bottom: 60px;

}



.classic-blog .posts .single-post .image {

  width: 200px;

  height: 150px;

  float: left;

  clear: both;



}





.classic-blog .posts .single-post .meta {

  margin-left: 220px;

}



.classic-blog .single-post .meta h4 {

  margin-bottom: 0px;

}



.classic-blog .single-post .meta .date p {

   font-size: 11px;

  color: #a4a4a4;

  float: left;

  margin-right: 3px;

}



.classic-blog .meta .date span.tag {

  color: #05acd6;

  font-size: 11px;

}



.classic-blog .meta h4 a {

  text-decoration: none;

  font-size: 13px;

}



.classic-blog .meta .content p {

  float: left;

}



.classic-blog .meta .content a.readmore {

  color: #05acd6;

  text-decoration: none;

}



/**

 * Pagination

 */

.pagination .active {
    width: 20px;
	text-align: center;
}
.pagination .active span {
    color: #FFFFFF;
}
 
.left-side {

  float: left;

  clear: both;

  width: 100%;

}

.pagination {

  float: left;

  clear: both;

  width: 100%;

  padding-top: 20px;

}



.left-side .pagination .pagination-controls {

  float: left;

  width: 75%;

  margin: 0px;

}



.left-side .pagination ul {

  padding: 0px;

  margin: 0px;

  float; left;

  clear: both;

  width: 100%;

}



.left-side .pagination ul li {

  float: left;

  display: inline;

  margin-right: 8px;

}





.left-side .pagination ul li a {

  float: left;

  clear: both;

  padding: 5px 7px;

  background: #ededed;

  text-decoration: none;

  line-height: 12px;

}



.left-side .pagination ul li a.active {

  background: #05acd6;

  color: #fff;

}





.left-side .pagination ul li a:hover {

  background: #05acd6;

  color: #fff;

}





.pagination .pagination-direction {

 float: right;

 width: 25%;



}





.pagination  .pagination-direction a {

  

  margin-left: 2px;

  width: 6px;

  height: 5px;

  background-repeat: no-repeat;

  background-position: 10px 10px;

  padding: 10px 10px;

  float: right;

}





.pagination .pagination-direction .prev  {

  background-color:  #212121 ;

  background-image:url(../img/video-left.png);

  

}



.pagination .pagination-direction .next {

  background-color:  #05acd6 ;

  background-image: url(../img/video-right.png);

  



}



.pagination .pagination-direction a:hover  {

  background-color: #05acd6 ;

}







 /* -------------------------------------------------------------- 

   11 - Mixed Posts

  -------------------------------------------------------------- */

.middle-section {

  border-bottom: 1px solid #e5e5e5;

}

.middle-section .grid-post:last-child {

  border-bottom: none;

}





.mixed-section {

  margin-top: 0px;

}









 /* -------------------------------------------------------------- 

   12 - Single Post

  -------------------------------------------------------------- */

.left-side .page-single {

  float: left;

  clear: both;

  width: 100%;

}



.left-side .page-single .post-image {

  float: left;

  clear: both;

  width: 100%;

  margin-bottom: 25px;

}







.page-single .post-meta {

  clear: both;  

  float: left;

  width: 100%;

  padding-bottom: 12px;

  margin-bottom: 20px;

  border-bottom: 1px solid #edecec;

}



.page-single .post-meta h3 {

  margin-bottom: 12px;

}



.page-single .post-meta .date {

  float: left;

  clear: both;

  margin: 0px;

}



.page-single .post-meta .date p , .page-single .post-meta .date span , .page-single .post-meta .date a {

  font-size: 11px;

  color: #a4a4a4; 

  line-height: 19px;

  text-decoration: none;

}



.page-single .post-meta .date p {

  float: left;

}



.page-single .post-meta a.tag {

  color: #05acd6;

}



.page-single .post-meta .date .fav {

  float: left;

}



.date .fav a {

  padding-left: 17px;

  margin-left: 10px;

}



.date .fav .comments-link {

  background: url(../img/small_bubble.png) 0px 1px no-repeat;

}



.date .fav .like {

  background: url(../img/heart.png) 0px 1px no-repeat;

}







/**

 * Single content

 */



.page-single .post-content {

  margin-bottom: 30px;

}

.page-single .post-content.section {
	color: #606060;
    font-family: 'tahoma',sans-serif;
    font-size: 12px;
    line-height: 22px;
}





/**

 * Social Buttons

 */



.page-single .social-share {

  float: left;

  clear: both;

  border: 1px solid #e8e8e8;

  width: 99%;

  max-width: 99%;

  background: #fafafa;

}



.page-single .social-share .buttons {

  float: left;

  clear: both;

  width: 94%;

  margin-left: 3%;

  height: 94%;

  margin-top: 3%;

  margin-bottom: 2%;

}



.page-single .social-share .button {

  float: left;

  margin-right: 4px;

  display: inline;

}





.button .email {

  width: 66px;

  height: 24px;

  background: url(../img/email.png) no-repeat;

  display: block;

}







/**

 * comments

 */



.comments {

  float: left;

  clear: both;

  width: 100%;

}



.comments .comment {

  float: left;

  clear: both;

  width: 100%; 

  margin-bottom: 20px;

}



.comments .comment:last-child {

  margin-bottom: 0px;

  padding-bottom: 0px;

  border-bottom: none;

}





.comments .comment:last-child .comment-body {

  border-bottom: 0px;

  margin-bottom: 0px;

  padding-bottom: 0px;

}



.comments .comment .comment {

  width: 80%; 

  margin-left: 20%;

  margin-bottom: 0px;

}



/**

 * comment body

 */

.comment-container .comment .comment-body {

  width: 100%; 

  float: left;

  clear: both;

  border-bottom: 1px solid #E8E8E8;

  padding-bottom: 20px;

  margin-bottom: 20px;

}





.comments .comment .comment .comment-body {

  border-bottom: 0px;

  padding-bottom: 0px;

}





.comments .border {

  height: 1px;

  float: left;

  clear: both;

  margin: 0px;

  padding: 0px;

  background: #e8e8e8;

  width: 100%;

}





.comment-body .avatar {

  width: 64px;

  height: 64px;

  float: left;

  overflow: hidden;



}



.comment-body .comment-content {

  margin-left: 84px;



}





.comments .comment .meta {

  

  width: 100%;

}



.comments .comment .meta h4 {

  float: left;

  font-family: 'Tahoma' , sans-serif;

  color: #606060;

  font-weight: bold;

  font-size: 13px;

  text-shadow: 0px 1px 0px #fff;

}



.comments .comment .meta h4 span {

  color: #b1b1b1;

}



.comments .comment .meta .date {

  float: right;

  clear: none;

}



.comments .comment .meta .date p {

  color: #b1b1b1;

}



.comments .comment .meta .date .custom {

  color: #05acd6;

  text-decoration: none;

}





.comments .comment .comment-content .content {

  float: left;

  width: 100%;

}







/**

 * Comments Form

 */





.form {

  float: left;

  clear: both;

  width: 100%;

}



.form .comments-form {

  float: left;

  clear: both;

  width: 100%;

}



.comments-form input.textfield {

  float: left;

  clear: none;

  border: 1px solid #EBE9E9;

  margin-bottom: 18px;

  outline: none;

  color:#919090;

  padding: 10px 5px;

  width: 188px;

  margin-right: 20px;

  background: #f9f9f9;

}





.comments-form input.textfield.comment-website {

  margin-right: 0px;

}



.comments-form textarea {

  float: left;

  clear: both;

  margin-bottom: 18px;

  border: 1px solid #ebe9e9;

  color: #919090;

  padding: 10px;

  width: 96.5%;

  min-height: 130px;

  background: #f9f9f9;

}





.comments-form input.submit {

  float: left;

  clear: both;

  font-size: 16px;

  font-family: 'Open Sans', sans-serif;

  color: #fff;

  background: #05acd6;

  padding: 8px 20px;

  border: none;

  outline: none;

  cursor: pointer;

}







/**

 * About author

 */

.about-author {

  float: left;

  clear: both;;

  width: 100%;



}



.about-author .avatar {

  float: left;

  clear: both;

  width: 84px;

  height: 84px;

  overflow: hidden;



}



.about-author .content .meta-content {

  margin-left: 104px;

}







 /* -------------------------------------------------------------- 

   13 - Shortcodes

  -------------------------------------------------------------- */



/**

 * blockquote

 */

blockquote {

  padding-left: 44px;

  background: url(../img/quote-bg.png) 0px 0px no-repeat;

  font-family: 'Times New Roman' , 'Georgia' , serif , arial;

  font-style: italic;

  font-size: 14px;

  font-weight: bold; 

  line-height: 22px; 

  padding-top: 3px;

}



blockquote.bordered {

  background: none;

  padding-left: 15px;

  padding-top: 0px;

  border-left: 3px solid #929292;

}







/**

 * Map

 */

.map iframe {

  width: 100%;

}

.map {

  float: left;

  clear: both;

  width: 100%;

  height: 350px;

  overflow: hidden;

  box-shadow: 0px 2px 3px #C0C0C0; 

}







/**

 * Listing

 */

.list {

  float: left;

  clear: both;

  width: 100%;

  margin: 0px;

  padding: 0px;

}



.list ul {

  float: left;

  clear: both;

  width: 100%;

  padding: 0px;

  margin: 0px;

}



.list ul  li {

  float: left;

  clear: both;

  margin-bottom: 2px;

  padding-left: 17px;

  background-repeat: no-repeat;

  background-position: left 5px;

}





.list-doc li {

  background-image: url(../img/list-doc.png);

}



.list-phone li {

  background-image: url(../img/list-phone.png);

}



.list-email li {

  background-image: url(../img/list-email.png);

}







/**

 * contact form fix [comments-form]

 */



.contact-form input.textfield {

  width: 174.6px;

  margin-right: 10px;

}

  



 /* -------------------------------------------------------------- 

   14 - scrollbar

  -------------------------------------------------------------- */

.tinyscroll .posts .single-post:nth-child(4n) {

  margin-right: 20px;

}



.tinyscroll .posts {

  padding-bottom: 45px;

  position: relative;

  float: left;

  clear: both;

}



.tinyscroll { width: 100%; position: relative;}

.tinyscroll .viewport { width: 100%;  height: 200px; overflow: hidden; position: relative; }

.tinyscroll .overview { list-style: none; position: absolute; left: 0; top: 0;  }

.tinyscroll .scrollbar{ background: #e4e4e4; position: relative; margin: 45px 0px; clear: both; height: 1px; }

.tinyscroll .track { background: #dfdfdf;   height:1px; position: relative;}

.tinyscroll .thumb { background: #05acd6; height: 8px; cursor: pointer;  position: absolute; 

                    left: 0; top: -4px; z-index: 1; min-width: 30px; }

.tinyscroll .scrollbar span {

  width: 14px;

  height: 8px;

  position: absolute;

  background: #dfdfdf;

  z-index: 2;

  top: -4px;

}

.tinyscroll .scrollbar span.start {

  left: 0px;

}

.tinyscroll .scrollbar span.end {

  right: 0px;

}

.tinyscroll .disable { display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.tinyscroll .thumb .arrow {

  width: 0px;

  height: 0px;

  content: "";

  border-bottom: 8px solid #05acd6; 

  border-left: 7px solid #f9f9f9; 

  border-right: 7px solid #f9f9f9; 

  position: absolute;

  top: -8px;

  left: 50%;

  z-index: 3;

}



.tinyscroll.box145 .posts .single-post:last-child {

  margin-right: 0px;

}





 /* -------------------------------------------------------------- 

   Shortcodes

  -------------------------------------------------------------- */



span.highlight {

  background: #3C3C3C;

  color: #fff;

  padding: 1px 4px;

}



span.highlight-two {

  background: #FB666A;

  color: #fff;

  padding: 1px 4px;

}





/*

drop cap

 */

.dropcap:first-letter {

  font-size: 50px;

  line-height: 50px;

  font-family: 'Open Sans' , sans-serif;

  float: left;

  font-weight: 700;

  margin: 7px 10px 7px 0px;

}





.dropcap.two:first-letter {

  background: #fb666a;

  padding: 8px;

  float: left;

  line-height: 35px;

  border-radius: 3px;

  color: #fff;

  font-size: 35px;

}





.dropcap.three:first-letter {

  background: #3c3c3c;

  padding: 8px;

  border-radius: 3px;

  color: #fff;

  font-size: 35px;

}











/* butttons */

.button {

    text-decoration: none;

    border: none;

    color: #fff;

    padding: 5px 15px; 

    text-align: center;

    margin: 0px 5px 5px 0px;

    -moz-border-radius: 13px;

    border-radius: 13px;

    -webkit-border-radius: 13px;

    float: left;

    font-weight: bold;

    

    box-shadow: 0px 1px 3px #bcbcbc;



     

}





.button.no-border {

  border-radius: 0px;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  box-shadow: none;

}





.button:hover {

    text-decoration: underline;

}







.button.red {

    /* Background Gradient - Border Top*/

    background: #ff5346; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTM0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMjNiMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top, #ff5346 0%, #c23b31 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5346), color-stop(100%,#c23b31)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #ff5346 0%,#c23b31 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #ff5346 0%,#c23b31 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #ff5346 0%,#c23b31 100%); /* IE10+ */

    background: linear-gradient(top, #ff5346 0%,#c23b31 100%); /* W3C */

    

    

}





.button.red:hover {

    background: #c23b31;

}



.button.large {

    padding: 10px 25px;

    font-size: 13px;

}







.button.blue {

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#58c5ed), to(#429cbd));

    background: -moz-linear-gradient(top, #58c5ed, #429cbd);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#58c5ed, endColorStr=#429cbd);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#58c5ed, endColorStr=#429cbd);

   

}



.button.blue:hover {

    background: #429cbd;

}





.button.green {

    

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#9df058), to(#78cc33));

    background: -moz-linear-gradient(top, #9df058, #78cc33);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#9df058, endColorStr=#78cc33);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#9df058, endColorStr=#78cc33);

}





.button.green:hover {

     background: #78cc33;

}







.button.yellow {

    color: #646464;

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafa73), to(#e6e67a));

    background: -moz-linear-gradient(top, #fafa73, #e6e67a);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafa73, endColorStr=#e6e67a);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafa73, endColorStr=#e6e67a);

}



.button.yellow:hover {

    background: #e6e67a;

}







.button.pink {

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#eb69ff), to(#dc58f0));

    background: -moz-linear-gradient(top, #eb69ff, #dc58f0);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eb69ff, endColorStr=#dc58f0);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#eb69ff, endColorStr=#dc58f0);

}



.button.pink:hover {

    background: #dc58f0;

}





.button.black {

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#6b6b6b), to(#3d3d3d));

    background: -moz-linear-gradient(top, #6b6b6b, #3d3d3d);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#6b6b6b, endColorStr=#3d3d3d);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#6b6b6b, endColorStr=#3d3d3d);

    

}



.button.black:hover {

    background: #474747;

}



.button.right {

    float: right;

    clear: both;

}



.button.center {

    margin-top: 10px;

   margin-left: 20%;

}



.button.grey {

     background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#f0f0f0));

    background: -moz-linear-gradient(top, #fbfbfb, #f0f0f0);

    color: #a4a4a4;

    border-bottom: 1px solid #d7d7d7;

    border-top: 1px solid #eeeeee;

    border-left: 1px solid #eeeeee;

    border-right: 1px solid #eeeeee;

    box-shadow: 0px 1px 1px #e6e6e6;

    padding: 3px 13px;

    font-weight: bold;

}



.button:hover {

    background: #f0f0f0;

}









/* Listing */

.list ul {

    padding: 0px; 

}



.list ul li {

    list-style: none;

}



.list ul li > a {

    text-decoration: none;

}



.list ul li > a:hover {

    text-decoration: underline;

}



.list ul li {

    min-height: 16px;

    background: url(../img/listing/check.png) left 5px no-repeat;

    width: 90%;

    padding-left: 26px;

    float: left; clear: both;

    margin-bottom: 7px;

    background-position: left 5px;

    background-repeat:  no-repeat;

}







.list.spanner ul li {

    background: url(../img/listing/spanner.png) left 5px no-repeat;

}

.list.audio ul li {

    background: url(../img/listing/audio.png) left 5px no-repeat;

}.list.bookmark ul li {

    background: url(../img/listing/bookmark.png) left 5px no-repeat;

}.list.video ul li {

    background: url(../img/listing/video.png) left 5px no-repeat;

}.list.camera ul li {

    background: url(../img/listing/camera.png) left 5px no-repeat;

}.list.cart ul li {

    background: url(../img/listing/cart.png) left 5px no-repeat;

}.list.case ul li {

    background: url(../img/listing/case.png) left 5px no-repeat;

}.list.chat1 ul li {

    background: url(../img/listing/chat1.png) left 5px no-repeat;

}.list.chat2 ul li {

    background: url(../img/listing/chat2.png) left 5px no-repeat;

}

.list.check ul li {

    background: url(../img/listing/check.png) left 5px no-repeat;

}.list.earth ul li {

    background: url(../img/listing/earth.png) left 5px no-repeat;

}.list.heart ul li {

    background: url(../img/listing/heart.png) left 5px no-repeat;

}.list.home ul li {

    background: url(../img/listing/home.png) left 5px no-repeat;

}.list.link ul li {

    background: url(../img/listing/link.png) left 5px no-repeat;

}.list.magnifier ul li {

    background: url(../img/listing/magnifier.png) left 5px no-repeat;

}.list.pencil ul li {

    background: url(../img/listing/pencil.png) left 5px no-repeat;

}

.list.phone ul li {

    background: url(../img/listing/phone.png) left 5px no-repeat;

}.list.rss ul li {

    background: url(../img/listing/rss.png) left 5px no-repeat;

}.list.speaker ul li {

    background: url(../img/listing/speaker.png) left 5px no-repeat;

}









/* Accordion Tabs */

.accordion {

    position: relative; width: 100%; overflow: hidden; clear: both; 

}



.accordion .item {

    float: left; clear: both; width: 100%;

    margin-bottom: 5px; 

}



.accordion .item .head {

    float: left; clear: both; width: 85%;

    padding: 10px 7.5%; background: #EBEBEB; overflow: hidden;

    -moz-border-radius: 3px;

    border-radius: 3px;

    -webkit-border-radius: 3px;

    margin-bottom: 0px;

    text-decoration: none;

    box-shadow:  0px 2px 0px #EAEAEA;

    position: relative;

    border-top: 1px solid #f8f8f8;

    cursor: pointer;

}





.accordion .item .head:focus {

    outline: none;

}



.accordion .item a.head:before {

    content: "+ ";

    font-size: 18px;

    font-weight: bold;

    margin-right: 10px;

    float: left; clear: both; 

}





.accordion .item .head-active {

    background: #8cc2d7;

    color: #6a6a6a;

}



.accordion .item .head.head-active:before {

    content: "- ";

}



.accordion .item-content {

    clear: both; margin-top: 10px; margin-bottom: 10px; float: left;  display: none;

    margin-left: 7.5%; 

}







/**

 * tooltip on connect icons

 */



.social .content  {

  position: relative;

}



.social .content a {



  position: relative;

}

.social .content  a .title {

  background: #1B1B1B;

  font-size: 11px;

  padding: 3px 8px;

  position: absolute;

  top: -35px;

  left: 0px;

  border-radius: 3px;





}

.social .content a .title:after {

  top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;

}

.social .content a .title:after {

  border-color: rgba(50, 50, 50, 0); border-top-color: #1b1b1b; border-width: 5px; left: 30%; margin-left: -5px;

}









/**

 * Icons

 */

.social-icon {

  float: left;

  margin: 0px 5px 5px 0px;

  padding: 7px;

  background-color: #E9E9E9;

  width: 20px;

  height: 20px;

  background-repeat: no-repeat;

  background-position: 7px 7px;

  -webkit-transition: background-color 0.5s;

  -moz-transition: background-color 0.5s;

  -o-transition: background-color 0.5s;

  -ms-transition: background-color 0.5s;

  transition: background-color 0.5s;

  



}



.social-icon:hover {

  background-color: #05acd6;

}



.social-icon.facebook {

  background-image: url(../img/social/facebook.png);

}

.social-icon.twitter {

  background-image: url(../img/social/twitter.png);

}



.social-icon.digg {

  background-image: url(../img/social/digg.png);

}

.social-icon.youtube {

  background-image: url(../img/social/youtube.png);

}

.social-icon.skype {

  background-image: url(../img/social/skype.png);

}

.social-icon.lastfm {

  background-image: url(../img/social/lastfm.png);

}

.social-icon.linkedin {

  background-image: url(../img/social/linkedin.png);

}

.social-icon.rss {

  background-image: url(../img/social/rss.png);

}

.social-icon.msn {

  background-image: url(../img/social/msn.png);

}

.social-icon.plus {

  background-image: url(../img/social/plus.png);

}

.social-icon.yahoo {

  background-image: url(../img/social/yahoo.png);

}

.social-icon.flickr {

  background-image: url(../img/social/flickr.png);

}



 /* -------------------------------------------------------------- 

   Prettyphoto

  -------------------------------------------------------------- */

/* PrettyPhoto */ 

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}div.pp_default .pp_top .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -93px no-repeat}div.pp_default .pp_top .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) top left repeat-x}div.pp_default .pp_top .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -93px no-repeat}div.pp_default .pp_content .ppt{color:#f8f8f8}div.pp_default .pp_content_container .pp_left{background:url(../img/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}div.pp_default .pp_content_container .pp_right{background:url(../img/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}div.pp_default .pp_next:hover{background:url(../img/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}div.pp_default .pp_previous:hover{background:url(../img/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}div.pp_default .pp_expand{background:url(../img/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_expand:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}div.pp_default .pp_contract{background:url(../img/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_contract:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}div.pp_default .pp_close{width:30px;height:30px;background:url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}div.pp_default .pp_gallery ul li a{background:url(../img/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}div.pp_default .pp_content_container .pp_details{margin-top:5px}div.pp_default .pp_nav{clear:none;height:30px;width:105px;position:relative}div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;font-color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}div.pp_default .pp_bottom .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -127px no-repeat}div.pp_default .pp_bottom .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) bottom left repeat-x}div.pp_default .pp_bottom .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -127px no-repeat}div.pp_default .pp_loaderIcon{background:url(../img/prettyPhoto/default/loader.gif) center center no-repeat}div.light_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}div.light_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}div.light_rounded .pp_next:hover{background:url(../img/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.light_rounded .pp_previous:hover{background:url(../img/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_rounded .pp_expand{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_rounded .pp_expand:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_rounded .pp_contract{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_rounded .pp_contract:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}div.light_rounded .pp_arrow_next{background:url(../img/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}div.light_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}div.light_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}div.dark_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}div.dark_rounded .pp_content_container .pp_left{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}div.dark_rounded .pp_content_container .pp_right{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}div.dark_rounded .pp_next:hover{background:url(../img/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.dark_rounded .pp_previous:hover{background:url(../img/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.dark_rounded .pp_expand{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_rounded .pp_expand:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_rounded .pp_contract{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_rounded .pp_contract:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_rounded .pp_description{margin-right:85px;color:#fff}div.dark_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}div.dark_rounded .pp_arrow_next{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}div.dark_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}div.dark_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_loaderIcon{background:url(../img/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}div.dark_square .pp_loaderIcon{background:url(../img/prettyPhoto/dark_square/loader.gif) center center no-repeat}div.dark_square .pp_expand{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_square .pp_expand:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_square .pp_contract{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_square .pp_contract:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_square .pp_nav{clear:none}div.dark_square .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_arrow_previous{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}div.dark_square .pp_arrow_next{background:url(../img/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}div.dark_square .pp_next:hover{background:url(../img/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}div.dark_square .pp_previous:hover{background:url(../img/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_square .pp_expand{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_square .pp_expand:hover{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_square .pp_contract{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_square .pp_contract:hover{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_square .pp_nav .pp_play{background:url(../img/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_square .pp_arrow_previous{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}div.light_square .pp_arrow_next{background:url(../img/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}div.light_square .pp_next:hover{background:url(../img/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}div.light_square .pp_previous:hover{background:url(../img/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_top .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}div.facebook .pp_top .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}div.facebook .pp_top .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}div.facebook .pp_content_container .pp_left{background:url(../img/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}div.facebook .pp_content_container .pp_right{background:url(../img/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}div.facebook .pp_expand{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}div.facebook .pp_expand:hover{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}div.facebook .pp_contract{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}div.facebook .pp_contract:hover{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}div.facebook .pp_close{width:22px;height:22px;background:url(../img/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}div.facebook .pp_description{margin:0 37px 0 0}div.facebook .pp_loaderIcon{background:url(../img/prettyPhoto/facebook/loader.gif) center center no-repeat}div.facebook .pp_arrow_previous{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}div.facebook .pp_arrow_next{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}div.facebook .pp_nav{margin-top:0}div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}div.facebook .pp_nav .pp_play{background:url(../img/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}div.facebook .pp_nav .pp_pause{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}div.facebook .pp_next:hover{background:url(../img/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}div.facebook .pp_previous:hover{background:url(../img/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_bottom .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}div.facebook .pp_bottom .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}div.facebook .pp_bottom .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}div.pp_pic_holder a:focus{outline:none}div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}.pp_content{height:40px;min-width:40px}* html .pp_content{width:40px}.pp_content_container{position:relative;text-align:left;width:100%}.pp_content_container .pp_left{padding-left:20px}.pp_content_container .pp_right{padding-right:20px}.pp_content_container .pp_details{float:left;margin:10px 0 2px}.pp_description{display:none;margin:0}.pp_social{float:left;margin:7px 0 0}.pp_social .facebook{float:left;position:relative;top:-1px;margin-left:5px;width:55px;overflow:hidden}.pp_social .twitter{float:left}.pp_nav{clear:right;float:left;margin:3px 10px 0 0}.pp_nav p{float:left;margin:2px 4px}.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}.pp_gallery div{float:left;overflow:hidden;position:relative}.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}.pp_gallery ul a img{border:0}.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}.pp_gallery li.default a{background:url(../img/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}a.pp_next{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}a.pp_previous{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}#pp_full_res{line-height:1!important}#pp_full_res .pp_inline{text-align:left}#pp_full_res .pp_inline p{margin:0 0 15px}div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../img/prettyPhoto/light_rounded/loader.gif) center center no-repeat}div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}.pp_top,.pp_bottom{height:20px;position:relative}* html .pp_top,* html .pp_bottom{padding:0 20px}.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}.pp_fade,.pp_gallery li.default a img{display:none}



