<!DOCTYPE html>
<html>

    <head>
        {{ theme:partial name='metadata' }}
		
		<!-- js loaded -->
		<?php Asset::js('bootbox.min.js'); ?>
		<?php echo Asset::render_js('global') ?>
		
		<!--[if lt IE 9]>
		<?php Asset::js('html5shiv.js', false, 'ie_scripts'); ?>
		<?php Asset::js('respond.min.js', false, 'ie_scripts'); ?>
		<?php echo Asset::render_js('ie_scripts') ?>
		<![endif]-->
		
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		
			/****************************
			 *	CONFIRMATION DIALOG
			 ****************************/
			$(document).ready(function(){
				$(".confirm").on('click', function(event) {
					event.preventDefault();
					var link = $(this).attr('href');;
					bootbox.confirm("<?php echo lang('global:dialog:confirm_message'); ?>", function(result) {
						if(result) {
							window.location.href = link;
						}
					});
				});
			});
			
		</script>
		
    </head>

    <body>
        {{ if theme:options:style == 'boxed' }}
              <div class="main-box">          
        {{endif}}
        
        {{ integration:analytics }}
        
        {{ if theme:options:style == 'full' }}
            <!--   HEADER  --> 
            {{ theme:partial name="header" }}
            <!--   /HEADER  -->         
        {{endif}}

        <!--  MAIN SECTION -->
        <section id="wrap">
            
            {{ if theme:options:style == 'boxed' }}
                <!--   HEADER  --> 
                {{ theme:partial name="header" }}
                <!--   /HEADER  -->         
            {{endif}}
            
            <div id="main-container" class="container {{ if theme:options:style == 'boxed' }}box-pad{{endif}}">
                <!-- slider -->
                {{ if { url:segments segment="1" } == '' OR  { url:segments segment="1" } == 'home' }}
                        {{ widgets:area slug="slider" }}
                {{ endif }}
                <!-- /slider -->
					
					<div class="row">
						<div class="col-xs-7">
							{{ theme:partial name="breadcrumbs" }}
						</div>
						
						<div class="col-xs-5">
							<span class="pull-right">
								
								{{ if user:logged_in }}
								
								{{ theme:partial name="usermenu" }}
								
								{{ endif }}
								
							</span>
						</div>
					</div>
                    
					<div class="row">
						<div class="col-xs-12">
							{{ theme:partial name="notices" }}
						</div>
					</div>
                    
                    {{ if theme:options:layout == 'full-width' }}
                        <!--option layout: {{theme:options:layout}}-->
                        {{ template:body }}
                    {{endif}}
                    
                    {{ if theme:options:layout == 'sidebar-right' }}
                        <!--option layout: {{theme:options:layout}}-->
                        <div class="row">
                            <div class="col-xs-9">
                                {{ template:body }}
                            </div>
                            <!-- sidebar -->
                            <div class="col-xs-3" id="sidebar">
                                {{ widgets:area slug="sidebar" }}
                            </div>
                            <!-- /sidebar -->
                        </div>
                    {{endif}}
                    
                    {{ if theme:options:layout == 'sidebar-left' }}
                        <!--option layout: {{theme:options:layout}}-->
                        <div class="row">
                            <!-- sidebar -->
                            <div class="col-xs-3" id="sidebar">
                                {{ widgets:area slug="sidebar" }}
                            </div>
                            <!-- /sidebar -->

                            <div class="col-xs-9">
                                {{ template:body }}
                            </div>
                        </div>
                    {{endif}}

                
            </div>
        </section> 
        <!-- / MAIN SECTION -->
        
        {{ theme:partial name="footer" }}
        
        {{ if theme:options:style == 'boxed' }}
        </div>          
        {{endif}}
    </body>
</html>